---
import BigLogo from "@/components/assets/BigLogo.astro";
---

<section class="overflow-hidden relative">
  <BigLogo class="lg:-mx-4 opacity-4 absolute inset-0" />
  <div class="py-12 max-w-xl mx-auto px-8 relative">
    <div>
      <span
        class="inline-flex items-center justify-center gap-2 rounded-full px-3 h-7.5 text-xs text-base-900 bg-white ring-inset"
      >
        <p>1 Spots available</p>
        <div class="size-2 rounded-full bg-black border-2 border-black"></div>
        <div class="size-2 rounded-full border-black border-2"></div>
      </span>
      <h1 class="text-4xl mt-12 tracking-tight text-base-900 text-balance font-medium">
        Design & development subscriptions for startups.
      </h1>
    </div>
    <div
      class="grid grid-cols-1 text-base text-base-600 lg:grid-cols-2 max-w-xl gap-2 group h-full mt-12"
    >
      <p>
        Minimal streamlines the design process with a fixed monthly rate and
        limitless design requests.
      </p>
      <p>
        Say goodbye to phone calls and extensive contracts; reach out to minimal
        directly at any time.
      </p>
      
    </div>
    <p class="text-sm italic text-base-600 mt-8">
      Embrace flexibility, halt or terminate your subscription whenever you
      need. <span class="block text-base-900">⏤ No questions asked.</span>
    </p>
  </div>
</section>
