<section class="overflow-hidden relative ">
  <svg class="lg:-mx-4 relative" viewBox="0 0 1340 241" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0.297923 241V0.17719H76.3291L141.007 190.427L205.341 0.17719H281.373V241H228.392V179.074C228.392 124.717 242.153 76.5524 260.387 37.3327V33.8924H243.185L168.53 241H113.141L38.4855 33.8924H21.2839V37.3327C39.5176 76.5524 53.2789 124.717 53.2789 179.074V241H0.297923ZM292.922 0.17719H347.967V241H292.922V0.17719ZM359.678 241V0.17719H433.989L534.446 203.156H551.648V199.716C531.35 161.528 521.029 130.91 521.029 98.2265V0.17719H574.01V241H500.731L397.865 33.8924H380.664V37.3327C398.897 65.5434 412.659 100.291 412.659 139.51V241H359.678ZM585.78 0.17719H640.825V241H585.78V0.17719ZM652.535 241V0.17719H728.566L793.245 190.427L857.579 0.17719H933.61V241H880.629V179.074C880.629 124.717 894.39 76.5524 912.624 37.3327V33.8924H895.422L820.767 241H765.378L690.723 33.8924H673.521V37.3327C691.755 76.5524 705.516 124.717 705.516 179.074V241H652.535ZM926.237 241L1009.49 0.17719H1087.93L1173.25 241H1116.83L1099.29 183.547H998.14L980.595 241H926.237ZM1012.93 140.198H1084.15L1058.69 68.6397C1055.25 59.0068 1054.56 47.3097 1056.63 35.2685H1039.42C1041.49 47.3097 1041.14 59.0068 1037.7 68.6397L1012.93 140.198ZM1166.12 241V0.17719H1220.83V196.276H1339.86V241H1166.12Z" fill="black"/>
</svg>


  <div class="px-8 md:px-12 py-24 max-w-2xl mx-auto relative">
    <div>
      <span
        class="inline-flex items-center justify-center gap-2 rounded-full px-3 py-1 text-sm leading-6 text-black ring-1 ring-zinc-200 bg-white ring-inset"
      >
        <p>1  Spots available</p>
        <div class="h-2 w-2 rounded-full bg-black border-2 border-black "></div>

        <div class="h-2 w-2 rounded-full border-black border-2 "></div>
      </span>
      <h2 class="text-5xl mt-12 tracking-tighter font-normal text-black">
        Design &amp; development <span class="block"
          >subscriptions for startups.</span
        >
      </h2>
    </div>
    <ul
      class="grid grid-cols-1 text-base text-zinc-500 lg:grid-cols-2 max-w-xl gap-2 group h-full mt-12"
    >
      <div>
        <p>
          Minimal streamlines the design process with a fixed monthly rate and
          limitless design requests.
        </p>
      </div>
      <div>
        <p>
          Say goodbye to phone calls and extensive contracts; reach out to
          minimal directly at any time.
        </p>
      </div>
      <em class="col-span-full text-sm mt-8">
        <p>
          Embrace flexibility, halt or terminate your subscription whenever you
          need. <span class="block text-black">⏤ No questions asked.</span>
        </p>
      </em>
    </ul>
  </div>
</section>
