<section>
  <div class="px-8 py-12 max-w-xl mx-auto">
    <div>
      <h2 class="text-4xl tracking-tight text-base-900 text-balance font-medium">
        How it works
      </h2>
    </div>
    <div>
      <p class="text-base text-base-600 mt-4 text-balance">
        After you join, you and your team will get access to our shared Breeew kanban board — your hub for real-time collaboration with Minimal. You can chat directly and drop in unlimited design requests, whenever inspiration strikes.
        <br /><br />
        Each request is handled one at a time with care and clarity. Need changes? No problem — revisions are unlimited.
      </p>
    </div>
  </div>
</section>
