---
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
---
<section>
  <div class="mx-auto max-w-7xl px-8 py-12 lg:py-32">
    <div class="space-y-24">
      <div class="space-y-24">
        <div class="max-w-3xl mx-auto">
          <h1
            class="text-3xl lg:text-6xl      text-black dark:text-white uppercase">
            Product Designer creating thoughtful, intuitive interfaces
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>
