<section>
  
  <div class="px-8 md:px-12  max-w-2xl mx-auto">
    <div class="grid grid-cols-2 gap-px rounded-3xl overflow-hidden sm:mx-0 ">
      <div class=" p-8 sm:p-10 items-center flex bg-white">
        <img
          class="max-h-8 w-full object-contain grayscale invert"
          src="/lexington.svg"
          alt="Transistor"
          width="158"
          height="48"
        />
      </div>
      <div class=" p-6 sm:p-10 items-center flex bg-white">
        <img
          class="max-h-8 w-full object-contain grayscale invert"
          src="/bal.svg"
          alt="Reform"
          width="158"
          height="48"
        />
      </div>

      <div class=" p-6 sm:p-10 items-center flex bg-white">
        <img
          class="max-h-8 w-full object-contain grayscale invert"
          src="/devdojo.svg"
          alt="Laravel"
          width="158"
          height="48"
        />
      </div>
      <div class=" p-6 sm:p-10 items-center flex bg-white">
        <img
          class="max-h-8 w-full object-contain grayscale invert"
          src="/calisteniaapp.svg"
          alt="Laravel"
          width="158"
          height="48"
        />
      </div>
    </div>
  </div>
</section>
