<section>
  <div class="px-8 md:px-12 max-w-2xl mx-auto">
    <div class="grid grid-cols-2 gap-12 items-center">
      <img class="h-8" src="/lexington.svg" alt="#_" />
      <img class="h-8" src="/oxbow.svg" alt="#_" />
    </div>
  </div>
</section>
