<section class="scroll-mt-4" id="pricing">
  <div class="px-8 md:px-12 py-12 max-w-7xl mx-auto">
    <div
      class="grid grid-cols-1 gap-px md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
    >
      <section
        class="col-span-full lg:col-span-1 bg-white flex flex-col justify-between rounded-3xl h-full text-black p-8"
      >
        <div>
          <div>
            <p class="text-2xl tracking-tighter font-medium text-black">
              Tailored design & <span class="md:block">dev packages</span>
            </p>
          </div>
          <p class="text-xs text-zinc-500 lg:mt-8 mt-4">
            Flexible pricing to enhance your online presence at every stage.
          </p>
        </div>
        <div>
          <div class="flex items-center gap-2 text-black">
            <p class="text-xs">1 spots available</p>
            <div class="h-2 w-2 rounded-full bg-black "></div>

            <div class="h-2 w-2 rounded-full border border-black"></div>
          </div>
          <div class="border-t border-zinc-200  flex flex-col pt-4 mt-4">
            <span class="text-xs text-zinc-500 font-normal">
              Project management with <span
                class="italic text-black font-medium">Breeew</span
              >, secure payments with <span
                class="italic text-black font-medium">Stripe</span
              > and the freedom of
              <span class="italic text-black font-medium">
                Canceling your subscription anytime:</span
              >
            </span>
            <div class="inline-flex items-center gap-2 mt-4 text-black">
              <svg
                class="h-5"
                viewBox="0 0 840 179"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0_44_18)">
                  <path
                    d="M178.841 87.0931C178.563 86.6155 178.324 86.0984 178.046 85.6208C176.853 83.4722 175.462 81.4035 173.912 79.3744C172.64 77.7033 171.209 76.1121 169.738 74.6398C164.769 69.7064 159.045 65.8867 152.605 63.3403C155.348 57.0143 156.739 50.2505 156.739 43.2481C156.739 41.1791 156.62 39.0307 156.342 36.9618C156.024 34.495 155.547 32.0282 154.871 29.6012C154.712 29.0442 154.553 28.527 154.394 28.0098L154.275 27.6517L153.917 27.5324C151.81 26.8559 149.544 26.3388 147.239 25.9409C146.444 25.8215 145.689 25.7022 144.933 25.6226C142.866 25.3839 140.759 25.2247 138.612 25.2247C130.981 25.2247 123.666 26.8559 116.909 30.0786C114.524 22.3203 110.151 15.1189 104.347 9.27028C102.837 7.75837 101.246 6.32607 99.6167 5.09268C97.6688 3.541 95.5624 2.14846 93.376 0.954863C92.8192 0.636571 92.3423 0.358065 91.905 0.159132L91.5873 0L91.2689 0.159132C89.2417 1.19358 87.2938 2.42697 85.4252 3.73993C84.8294 4.17758 84.1933 4.61523 83.5572 5.13246C81.9277 6.40564 80.2975 7.83796 78.8265 9.31005C72.5065 15.6361 67.9746 23.4741 65.709 31.9885C58.0766 27.5721 49.3314 25.2247 40.3873 25.2247C38.2407 25.2247 36.1339 25.3839 34.1066 25.6226C33.3513 25.7022 32.5563 25.8215 31.801 25.9409C29.5352 26.3388 27.3091 26.8559 25.1228 27.5324L24.765 27.6517L24.6458 28.0098C24.4471 28.6066 24.288 29.1238 24.1688 29.6411C23.493 32.068 23.016 34.5348 22.698 37.0015C22.4595 39.0307 22.3005 41.1394 22.3005 43.2878C22.3005 51.5634 24.3278 59.7197 28.1042 66.9211C21.0284 69.4277 14.708 73.4463 9.3018 78.8572C7.79123 80.4087 6.36022 82.0005 5.12792 83.5917C4.65091 84.1882 4.21365 84.8249 3.73663 85.422C2.38509 87.3315 1.19255 89.2814 0.159015 91.2708L0 91.5885L0.159015 91.9069C0.437274 92.3845 0.675783 92.9016 0.954038 93.3792C2.18633 95.5278 3.57761 97.6362 5.08816 99.586C6.3602 101.217 7.75147 102.809 9.26204 104.321C14.2309 109.254 19.9552 113.074 26.3948 115.62C23.652 121.946 22.2607 128.71 22.2607 135.712C22.2607 137.861 22.38 140.009 22.6582 142.038C22.9762 144.505 23.4533 146.972 24.129 149.399C24.2881 149.956 24.4471 150.473 24.606 150.99L24.7253 151.348L25.0831 151.468C27.2694 152.144 29.4954 152.701 31.7612 153.059C32.5563 153.179 33.3116 153.298 34.0668 153.377C36.1737 153.656 38.2805 153.775 40.3873 153.775C48.0196 153.775 55.2941 152.144 62.0915 148.922C64.4764 156.72 68.8492 163.881 74.6929 169.73C76.2035 171.242 77.7934 172.634 79.4229 173.907C81.3708 175.419 83.4779 176.812 85.624 178.045C86.1412 178.324 86.6181 178.602 87.095 178.841L87.4134 179L87.7311 178.841C89.7979 177.767 91.7458 176.573 93.5748 175.26C94.131 174.862 94.7671 174.385 95.4032 173.868C97.0723 172.594 98.6629 171.162 100.133 169.69C106.454 163.364 110.986 155.526 113.291 147.011C120.923 151.428 129.669 153.775 138.612 153.775C140.68 153.775 142.827 153.656 144.933 153.377C145.648 153.298 146.404 153.179 147.239 153.059C149.505 152.661 151.77 152.144 153.877 151.468L154.235 151.348L154.354 150.99C154.513 150.434 154.672 149.916 154.831 149.399C155.507 147.011 155.984 144.545 156.302 142.078C156.58 139.969 156.7 137.861 156.7 135.752C156.7 127.476 154.712 119.36 150.896 112.119C157.971 109.612 164.292 105.593 169.698 100.182C171.169 98.7108 172.6 97.119 173.872 95.4479C174.349 94.8112 174.826 94.2147 175.263 93.578C176.575 91.7081 177.808 89.7186 178.841 87.7298L179 87.4115L178.841 87.0931ZM119.214 45.1976C119.214 43.1685 119.095 41.1791 118.857 39.2296C126.608 35.052 135.711 33.4208 144.496 34.6541C145.331 34.7735 146.126 34.8929 146.881 35.052C147.398 37.6381 147.676 40.3038 147.676 42.9298C147.716 49.0967 146.404 55.2636 143.86 60.794C140.56 60.1176 137.182 59.7993 133.803 59.7993C127.641 59.7993 121.678 60.8735 115.994 63.022C118.141 57.3325 119.214 51.3247 119.214 45.1976ZM112.257 74.799C113.251 74.2019 114.325 73.6054 115.398 73.0883C115.637 72.9687 115.915 72.8492 116.193 72.7303C116.59 72.5308 116.988 72.3716 117.505 72.1332C117.624 72.0935 117.743 72.0136 117.902 71.974C118.339 71.7752 118.697 71.6556 119.055 71.4964C119.254 71.4172 119.413 71.3769 119.612 71.2976C119.89 71.2183 120.128 71.0988 120.407 71.0189C120.565 70.9396 120.725 70.9 120.884 70.8597L120.963 70.8201C121.003 70.8201 121.083 70.7804 121.122 70.7804H121.202C121.4 70.7005 121.56 70.6609 121.758 70.5816C121.838 70.5816 121.877 70.542 121.917 70.542C121.997 70.542 122.076 70.5017 122.155 70.4621C122.235 70.4224 122.315 70.4224 122.394 70.3828C122.791 70.2633 123.189 70.1437 123.706 70.0242C124.103 69.9449 124.461 69.8253 124.859 69.7461H124.938C125.336 69.6662 125.733 69.5869 126.171 69.507H126.21C126.29 69.507 126.37 69.4673 126.449 69.4673H126.488C126.886 69.3881 127.204 69.3478 127.522 69.3082C127.761 69.2685 127.999 69.2289 128.238 69.2289C128.714 69.1893 129.152 69.1093 129.629 69.0697C129.827 69.0697 130.026 69.0301 130.265 69.0301C130.782 68.9898 131.18 68.9502 131.617 68.9502C131.775 68.9502 131.895 68.9502 132.054 68.9502H132.094C132.332 68.9502 132.571 68.9105 132.809 68.9105C133.524 68.9105 134.24 68.9105 135.035 68.9105C135.274 68.9105 135.512 68.9105 135.75 68.9502H135.83C135.91 68.9502 136.029 68.9502 136.148 68.9502H136.188C136.784 68.9898 137.341 69.0301 137.897 69.0697L138.494 69.149C139.13 69.2289 139.567 69.2685 140.004 69.3478C140.322 69.3881 140.68 69.4673 140.998 69.507C141.634 69.6265 142.309 69.7461 142.985 69.9053C143.184 69.9449 143.383 69.9845 143.582 70.0644C143.86 70.1437 144.178 70.2236 144.456 70.3029C145.053 70.4621 145.689 70.6609 146.364 70.8597C146.563 70.9396 146.761 70.9793 146.96 71.0592C147.199 71.1384 147.438 71.2183 147.676 71.2976C148.034 71.4172 148.511 71.5764 148.988 71.7752C149.306 71.8947 149.664 72.0533 149.982 72.1728C150.34 72.332 150.737 72.4912 151.095 72.6503C151.81 72.9687 152.486 73.2871 153.162 73.6451C153.241 73.6847 153.321 73.7244 153.44 73.7646C153.519 73.8043 153.559 73.8439 153.639 73.8835C153.797 73.9634 153.957 74.0427 154.116 74.1623C154.593 74.4007 154.951 74.6398 155.348 74.8783C155.507 74.9582 155.666 75.0771 155.865 75.1966C156.024 75.2765 156.183 75.3954 156.381 75.515C156.62 75.6742 156.858 75.8334 157.097 75.9925L157.971 76.589C158.091 76.6689 158.25 76.7884 158.369 76.8677C158.607 77.0665 158.886 77.2654 159.125 77.4245C159.442 77.6636 159.761 77.9021 160.039 78.1808C160.317 78.4193 160.635 78.6584 160.953 78.9364C161.191 79.1353 161.43 79.3347 161.629 79.5335L161.748 79.6128C161.748 79.6128 161.788 79.6531 161.828 79.6531C158.886 79.1359 155.865 78.8572 152.804 78.8572C152.168 78.8572 151.651 78.8572 151.174 78.8968C150.618 78.8968 150.101 78.9364 149.664 78.9767C149.465 78.9767 149.306 78.9767 149.107 79.0164C148.789 79.0164 148.431 79.056 148.114 79.0956C147.994 79.0956 147.835 79.0956 147.716 79.1353C147.398 79.1755 147.08 79.2152 146.802 79.2548C146.643 79.2548 146.483 79.2944 146.324 79.2944C146.046 79.3347 145.768 79.3744 145.49 79.414L144.893 79.4939C144.655 79.5335 144.417 79.5732 144.257 79.6128C143.979 79.6531 143.661 79.6927 143.343 79.772C142.786 79.8519 142.191 79.9708 141.594 80.13C141.276 80.2099 140.958 80.2495 140.68 80.3294C140.282 80.4087 139.924 80.5283 139.567 80.6075C139.169 80.7271 138.811 80.8064 138.494 80.9259C138.374 80.9655 138.255 80.9655 138.136 81.0058L137.579 81.2046C137.182 81.3235 136.745 81.4827 136.307 81.6419C135.989 81.7615 135.671 81.8414 135.393 81.9603C134.479 82.2786 133.564 82.6769 132.61 83.0745C132.094 83.313 131.617 83.5118 131.219 83.7113C130.822 83.9101 130.384 84.0693 129.987 84.2285C129.907 84.2681 129.868 84.2681 129.788 84.3077C129.748 84.3077 129.709 84.3474 129.629 84.3876C129.232 84.5468 128.794 84.706 128.397 84.8249H128.357C127.92 84.9841 127.483 85.1433 127.006 85.2628L126.926 85.3025C126.926 85.3025 126.886 85.3025 126.846 85.3421C126.528 85.422 126.25 85.5416 125.932 85.6208C125.375 85.78 124.859 85.8995 124.342 86.0185C123.984 86.0984 123.666 86.1776 123.309 86.2575C123.03 86.3368 122.712 86.3765 122.434 86.4167C122.036 86.496 121.639 86.5759 121.241 86.6156C120.725 86.6948 120.128 86.7747 119.492 86.854H119.334C118.976 86.8943 118.578 86.9339 118.221 86.9735C117.863 87.0132 117.465 87.0132 117.108 87.0528C116.352 87.0931 115.597 87.1327 114.841 87.1327C114.524 87.1327 114.205 87.1327 113.887 87.1327C113.609 87.1327 113.331 87.1327 113.013 87.0931C112.774 87.0931 112.576 87.0528 112.337 87.0528H112.298C112.059 87.0528 111.86 87.0132 111.622 87.0132H111.582C111.343 87.0132 111.105 86.9735 110.866 86.9339C110.509 86.8943 110.19 86.854 109.832 86.8144C109.276 86.7351 108.76 86.6948 108.243 86.5759C107.964 86.5356 107.686 86.496 107.328 86.4167C107.011 86.3765 106.732 86.2972 106.414 86.2179C105.341 86.0185 104.268 85.7404 103.194 85.422C102.995 85.3824 102.797 85.3025 102.598 85.2628L102.439 85.2232C102.081 85.1036 101.724 84.9841 101.366 84.8652C101.287 84.8249 101.207 84.7853 101.088 84.7853C101.684 84.0296 102.32 83.2734 102.995 82.5574H103.115L103.274 82.239C104.029 81.4431 104.744 80.7271 105.46 80.0507C105.5 80.0111 105.579 79.9708 105.619 79.8915C106.533 79.0164 107.527 78.2204 108.521 77.4648C108.76 77.2654 108.998 77.0665 109.276 76.9074C110.072 76.3109 110.827 75.7937 111.622 75.3162C111.78 75.0771 112.019 74.9582 112.257 74.799ZM92.0239 62.465C92.0239 62.266 92.0245 62.0273 92.0642 61.8284C92.0642 61.6294 92.0642 61.4703 92.1038 61.2714V61.1918C92.1434 60.8736 92.1435 60.5553 92.1831 60.237V60.1574C92.2227 59.7993 92.263 59.4412 92.3026 59.0433L92.3423 58.8444C92.3819 58.4466 92.4612 58.0487 92.5411 57.611C92.5807 57.3723 92.6204 57.1336 92.66 56.8949C92.66 56.7755 92.7003 56.696 92.7399 56.5766V56.5368C92.7795 56.2981 92.8192 56.0594 92.8984 55.7411C93.018 55.184 93.1375 54.627 93.2565 54.2291C93.3357 53.9109 93.4156 53.5926 93.4949 53.2345L93.5345 53.1549C93.6541 52.6775 93.8133 52.2 93.9322 51.8022C94.0517 51.3646 94.2103 50.9268 94.3694 50.4892V50.4494C94.3694 50.4097 94.4091 50.3698 94.4091 50.3698L94.4494 50.3301C94.5683 50.0118 94.6878 49.6935 94.8067 49.3354C94.8463 49.2558 94.8463 49.2161 94.8866 49.1365L94.9263 48.9773C95.0848 48.5795 95.244 48.1816 95.4032 47.8235C95.6416 47.3461 95.8404 46.8288 96.0393 46.3912C98.583 40.5425 99.9747 34.2961 100.174 27.8108C100.213 27.2936 100.213 26.7764 100.213 26.1398C100.213 23.1161 99.9344 20.0922 99.4179 17.1082C99.8155 17.5857 100.253 18.0631 100.69 18.5803C100.968 18.9385 101.287 19.2965 101.565 19.6943C102.121 20.4105 102.638 21.1267 103.194 21.9622C103.234 22.002 103.274 22.0816 103.314 22.1612C103.592 22.5591 103.83 22.9171 104.029 23.2752C104.228 23.5935 104.427 23.9118 104.626 24.2698C104.744 24.4688 104.824 24.6279 104.943 24.8269C105.102 25.1053 105.262 25.3839 105.42 25.7022L105.5 25.8215C105.699 26.1796 105.898 26.5775 106.056 26.9355C106.255 27.2936 106.414 27.6915 106.613 28.0893C106.692 28.2485 106.772 28.4474 106.851 28.6066C107.05 29.0442 107.249 29.5217 107.448 30.0389C107.567 30.3572 107.686 30.6755 107.805 30.9938L107.845 31.1529C108.004 31.5508 108.124 31.9486 108.282 32.3863C108.322 32.4659 108.362 32.5455 108.362 32.6251C108.481 33.0229 108.601 33.4605 108.719 33.8584C108.839 34.2961 108.958 34.7735 109.077 35.2907C109.157 35.6488 109.237 35.9671 109.316 36.3252C109.396 36.6435 109.435 37.0015 109.515 37.3198L109.554 37.5585C109.594 37.7575 109.634 37.9962 109.674 38.2349C109.753 38.6328 109.793 39.0307 109.873 39.5479C109.912 39.7468 109.952 39.9458 109.952 40.1447C109.992 40.3834 109.992 40.5824 110.031 40.8211C110.151 41.8157 110.19 42.8502 110.23 43.8448C110.23 44.2825 110.23 44.7201 110.23 45.1578C110.23 45.7148 110.23 46.2321 110.19 46.7095C110.19 46.988 110.151 47.2665 110.151 47.545C110.111 48.0224 110.072 48.4999 110.031 48.9376L109.992 49.1763C109.992 49.2956 109.952 49.4548 109.952 49.5741V49.6139C109.952 49.8129 109.912 49.972 109.873 50.2107C109.832 50.6484 109.753 51.0462 109.714 51.4839C109.634 51.9215 109.594 52.3194 109.515 52.7571C109.475 53.0754 109.396 53.3539 109.356 53.6324C109.197 54.3883 109.038 55.1045 108.839 55.7411C108.76 55.9798 108.719 56.2185 108.64 56.4572C108.561 56.7755 108.481 57.054 108.362 57.3723C107.925 58.7649 107.408 60.1574 106.851 61.5101C106.772 61.709 106.692 61.8682 106.613 62.0671L106.573 62.1467C106.176 63.0618 105.699 64.0168 105.182 64.9316C105.023 65.2103 104.904 65.4891 104.705 65.7672C104.586 66.0063 104.466 66.2051 104.307 66.4435C104.149 66.7223 103.95 67.001 103.791 67.2791C103.234 68.1945 102.678 68.9898 102.121 69.7461C101.962 69.9845 101.763 70.2236 101.565 70.5017C101.366 70.7408 101.207 70.9793 100.968 71.258C100.73 71.5361 100.571 71.7752 100.372 71.974C99.9747 72.4515 99.5374 72.9291 99.1002 73.4066L98.9013 73.6054C98.2652 74.2818 97.5895 74.9582 96.9138 75.5949L96.7943 75.6742L96.6753 75.7937C96.5162 75.9529 96.3173 76.1121 96.1582 76.2713C96.0789 76.3109 96.0393 76.3902 95.9996 76.4298C95.9197 76.4701 95.8801 76.5494 95.8008 76.589L95.6813 76.7085C95.6813 76.7085 95.6813 76.7085 95.6416 76.7482C95.5623 76.7884 95.5221 76.8677 95.4428 76.9074L95.4032 76.9476C95.244 77.0665 95.1251 77.1861 94.9659 77.3453C94.9263 77.3849 94.8463 77.4245 94.7671 77.5044L94.6079 77.624C94.5286 77.6636 94.4494 77.7429 94.4091 77.7825C94.3694 77.8228 94.3298 77.8228 94.2902 77.8624C92.7399 73.4463 91.9843 68.8306 91.9843 64.0961C91.9843 63.6586 92.0239 63.0618 92.0239 62.465ZM32.1588 35.052C32.9538 34.8929 33.7489 34.7735 34.5439 34.6541C44.9984 33.1821 55.4927 35.6488 64.1191 41.6168C64.0392 42.7706 63.9995 43.9642 63.9995 45.1976C63.9995 54.3883 66.4243 63.2209 71.0355 70.9793C63.284 66.4039 54.4195 63.9772 45.2767 63.9772C42.5736 63.9772 39.8705 64.176 37.2072 64.6132C33.3513 58.0884 31.324 50.6085 31.4035 42.9298C31.3637 40.2242 31.642 37.5984 32.1588 35.052ZM12.7999 88.4458C12.8794 88.3659 12.9192 88.2866 12.9987 88.2067C13.3167 87.8487 13.6347 87.4511 13.9924 87.0132C14.3105 86.6552 14.6285 86.2972 15.0657 85.8196L15.2247 85.6605C15.4632 85.3824 15.7415 85.1433 16.0197 84.8652C16.1788 84.706 16.3378 84.5468 16.4968 84.3876L16.5365 84.3474C16.8943 84.0296 17.252 83.7113 17.6098 83.3929C17.9278 83.1142 18.2856 82.8355 18.7229 82.4378L18.7626 82.3982C18.8024 82.3585 18.8421 82.3585 18.8819 82.3183L18.9613 82.2786C19.2794 82.0005 19.5577 81.8011 19.8359 81.6023C19.9552 81.4827 20.1142 81.3638 20.2732 81.2443C20.3924 81.165 20.4719 81.0851 20.6309 81.0058C20.9092 80.8064 21.1477 80.6075 21.4259 80.4087C24.0098 78.6181 26.7924 77.1062 29.6545 75.9529C30.1315 75.7534 30.688 75.5546 31.2445 75.3558C32.0395 75.0771 32.8743 74.799 33.7091 74.5599C34.0271 74.4806 34.3849 74.3611 34.7029 74.2818C35.0606 74.2019 35.4184 74.083 35.7364 74.0031C36.4519 73.8439 37.1674 73.6847 37.8432 73.5652C38.201 73.4859 38.5588 73.4463 38.9165 73.3664C39.632 73.2474 40.3476 73.1675 41.1028 73.0883C41.4606 73.048 41.8184 73.0084 42.2159 73.0084C42.4544 73.0084 42.6928 72.9687 42.9314 72.9687C43.2494 72.9291 43.6072 72.9291 44.0444 72.9291C44.4419 72.9291 44.8394 72.9291 45.2369 72.9291H45.2767C49.9276 72.9291 54.4593 73.6847 58.7922 75.1966C59.1102 75.3162 59.4282 75.4357 59.7859 75.5546C60.1039 75.6742 60.422 75.7937 60.7399 75.9126C61.4157 76.1914 62.012 76.4298 62.6083 76.7085C65.0729 77.8228 67.4184 79.2152 69.6444 80.8064C70.1213 81.165 70.7178 81.6023 71.274 82.0402C71.9497 82.597 72.6254 83.1538 73.3011 83.7905C70.3598 83.2734 67.3385 82.9946 64.2776 82.9946C63.9201 82.9946 63.5226 82.9946 63.2045 82.9946C63.0058 82.9946 62.8468 82.9946 62.648 82.9946C61.853 83.0349 61.0977 83.0745 60.5412 83.1142H60.5014C59.3089 83.1941 58.1164 83.3533 56.8443 83.5118L56.4866 83.5521C56.2083 83.5917 55.93 83.6314 55.6518 83.671C52.909 84.1485 50.1661 84.8652 47.5823 85.7404C46.3898 86.138 45.2369 86.6155 44.0842 87.0931L43.9251 87.1724C43.6072 87.2919 43.3289 87.4511 43.0109 87.5706C42.9314 87.6103 42.8121 87.6499 42.7326 87.6895L42.6531 87.7298C41.4209 88.247 40.109 88.7642 38.7575 89.1618C34.7029 90.4353 30.4893 91.1116 26.1961 91.1116C21.4657 91.1116 16.8546 90.3157 12.4819 88.8038C12.5614 88.7239 12.6807 88.5647 12.7999 88.4458ZM59.8257 133.842C59.8257 135.871 59.9449 137.861 60.1834 139.81C52.432 143.988 43.3289 145.619 34.5439 144.386C33.7489 144.266 32.9538 144.147 32.1588 143.988C31.642 141.441 31.3637 138.776 31.3637 136.11C31.324 129.943 32.6358 123.776 35.1799 118.246C38.4792 118.922 41.8581 119.24 45.2369 119.24C51.3984 119.24 57.3611 118.166 63.0455 116.058C60.899 121.707 59.8257 127.675 59.8257 133.842ZM67.8557 103.564C67.4184 103.843 67.0208 104.082 66.6628 104.321C66.1859 104.639 65.6693 104.917 65.1918 105.156C63.9995 105.793 62.7275 106.429 61.4555 106.986C61.2567 107.066 61.058 107.146 60.8592 107.225C59.9847 107.583 59.0704 107.901 58.1959 108.22C57.6791 108.379 57.1623 108.538 56.6456 108.697C56.4071 108.776 56.1686 108.856 55.8903 108.896C55.3338 109.055 54.817 109.175 54.3003 109.294C52.6704 109.652 50.9214 109.93 49.1723 110.089C49.0531 110.089 48.8941 110.129 48.7351 110.129C48.5761 110.129 48.4171 110.169 48.2978 110.169C47.5823 110.209 46.9065 110.249 46.2705 110.249C45.555 110.249 44.7997 110.249 44.0444 110.249C43.8059 110.249 43.5277 110.249 43.2892 110.209H43.1699C43.0904 110.209 43.0507 110.209 42.9711 110.209H42.9314C41.6593 110.129 40.3476 110.01 39.1153 109.811H39.0755C38.996 109.811 38.9562 109.811 38.8768 109.771L37.8035 109.572C37.6047 109.533 37.3662 109.493 37.1674 109.453L36.1737 109.254C35.8557 109.175 35.5376 109.095 35.1799 109.015L35.1004 108.976C34.9016 108.936 34.7029 108.896 34.5041 108.817L34.3054 108.776C34.1861 108.737 34.1066 108.737 33.9476 108.697C33.7886 108.657 33.6296 108.617 33.5103 108.578L33.2718 108.498C32.7948 108.379 32.437 108.259 32.0793 108.1C31.8408 108.021 31.6023 107.941 31.4035 107.862H31.3637L31.2843 107.822C31.1252 107.782 30.9662 107.702 30.8072 107.663C30.1315 107.424 29.5352 107.185 28.9389 106.906C28.7402 106.827 28.5017 106.708 28.2234 106.588C28.1042 106.548 27.9452 106.469 27.7862 106.389C27.5477 106.27 27.3091 106.19 27.0706 106.031L26.9514 105.992C26.7129 105.872 26.4744 105.753 26.2358 105.634C25.5204 105.276 24.8446 104.918 24.2085 104.519C23.9303 104.36 23.6917 104.241 23.4533 104.082L23.4135 104.042C23.1352 103.883 22.857 103.684 22.5787 103.525C22.2209 103.286 21.8235 103.047 21.4259 102.769C21.3862 102.729 21.3465 102.689 21.2669 102.649C21.2272 102.61 21.1477 102.57 21.1079 102.57C20.7502 102.331 20.4321 102.052 20.0346 101.814L19.9949 101.774C19.5576 101.456 19.1601 101.138 18.8421 100.859C18.2856 100.382 17.7291 99.944 17.2123 99.4665C20.1539 99.9836 23.175 100.262 26.2358 100.262C26.8719 100.262 27.3887 100.262 27.8656 100.223C28.1439 100.223 28.4619 100.182 28.7402 100.182L29.5352 100.143C30.211 100.103 30.7675 100.064 31.2843 99.9837C31.4433 99.9837 31.6023 99.944 31.7215 99.944L31.9202 99.9044C32.9538 99.7848 33.8681 99.6653 34.7029 99.5061C35.2991 99.3872 35.8557 99.3073 36.3724 99.1877C36.8097 99.1085 37.2867 98.9889 37.724 98.87C37.9228 98.8297 38.1613 98.7901 38.3203 98.7108C38.7575 98.5913 39.2345 98.4717 39.6718 98.3528C40.1886 98.2333 40.6655 98.0741 41.1823 97.9149H41.7786V97.7161C42.0569 97.6362 42.2954 97.5569 42.5736 97.4374C42.9711 97.3178 43.3686 97.1586 43.7662 97.0001C43.8059 97.0001 43.8457 96.9598 43.8854 96.9598C44.2829 96.8007 44.7202 96.6415 45.1177 96.4823C45.5152 96.3231 45.9525 96.1243 46.3898 95.9651L46.5488 95.8858C46.7475 95.8059 46.9463 95.7267 47.1053 95.6467C47.3438 95.5278 47.5823 95.4479 47.8208 95.329C48.2183 95.1296 48.6556 94.9704 49.0531 94.8118L49.4506 94.6526C49.7289 94.5331 50.0071 94.4532 50.3252 94.3343C50.4444 94.294 50.6034 94.2544 50.7227 94.1751L50.8816 94.1355C51.3587 93.9763 51.7562 93.8567 52.1537 93.7372C52.5114 93.6176 52.9089 93.4987 53.386 93.3792C53.4654 93.3792 53.5052 93.3396 53.5847 93.3396L53.7437 93.2999C54.0618 93.22 54.3798 93.1407 54.6978 93.0608C55.0953 92.9816 55.4928 92.862 55.93 92.7821C56.2083 92.7425 56.5264 92.6632 56.8443 92.6236C57.5996 92.504 58.3151 92.3845 58.9512 92.3052L59.8257 92.1856C60.1834 92.146 60.581 92.1057 60.9387 92.0661C61.2964 92.0265 61.694 92.0265 62.0518 91.9868C62.807 91.9472 63.5623 91.9069 64.3173 91.9069C64.6356 91.9069 64.9533 91.9069 65.2717 91.9069C65.5498 91.9069 65.8279 91.9069 66.1463 91.9472C66.3451 91.9472 66.5439 91.9868 66.7823 91.9868C67.0208 91.9868 67.2593 92.0265 67.5373 92.0265C67.8154 92.0265 68.0539 92.0661 68.3326 92.1057C68.6107 92.146 68.8492 92.146 69.0876 92.1856L69.4456 92.2253C69.6048 92.2649 69.803 92.2649 70.0018 92.3052C70.5586 92.3845 71.1148 92.4644 71.8704 92.5833C72.5065 92.7028 73.1023 92.8224 73.6988 92.9413H73.7384C74.0171 93.0212 74.3349 93.0608 74.613 93.1407C75.0502 93.2596 75.4875 93.3792 76.0047 93.5384L76.1236 93.578C76.3224 93.6176 76.5212 93.6976 76.6804 93.7372L76.7993 93.7768C77.1177 93.8567 77.4354 93.9763 77.7538 94.0952L78.0715 94.2147C77.3958 95.0503 76.72 95.8462 76.0047 96.6415L75.9644 96.6817C75.2887 97.4374 74.5337 98.1534 73.8183 98.87L73.6195 99.0688C73.3414 99.3073 73.1023 99.5464 72.8242 99.7848C72.5461 100.023 72.3077 100.262 72.0296 100.461C70.9166 101.376 69.7633 102.252 68.6107 103.047C68.2527 103.286 68.0539 103.406 67.8557 103.564ZM86.737 119.996L86.6974 120.036V120.156C86.2205 123.975 85.1867 127.715 83.6768 131.256L83.5572 131.534C83.4779 131.694 83.4377 131.813 83.3584 131.972L83.2791 132.131C83.1992 132.33 83.1199 132.489 83.0407 132.688C82.5631 133.763 82.1258 134.916 81.7288 135.991C81.4904 136.667 81.2513 137.383 80.9732 138.258C80.8543 138.616 80.7348 139.015 80.6555 139.412C80.5756 139.691 80.4963 140.009 80.417 140.248C80.3774 140.407 80.3371 140.606 80.2975 140.805C80.2579 140.924 80.2182 141.044 80.2182 141.163V141.203C80.2182 141.243 80.1786 141.322 80.1786 141.362L80.0194 142.038C80.0194 142.157 79.9798 142.277 79.9401 142.357C79.8998 142.476 79.8998 142.595 79.8602 142.715C79.7809 143.073 79.701 143.431 79.6614 143.749C79.5425 144.426 79.4626 145.022 79.3833 145.54C79.3437 145.858 79.304 146.136 79.2638 146.415C79.0656 148.046 78.946 149.677 78.8668 151.269C78.8668 151.826 78.8265 152.343 78.8265 152.9C78.8265 153.696 78.8265 154.412 78.8668 155.088C78.9064 155.884 78.946 156.6 78.9857 157.237C79.0656 158.192 79.1845 159.146 79.304 160.101C79.3833 160.698 79.5029 161.335 79.5821 161.932C79.3833 161.733 79.2241 161.533 79.1052 161.374C78.8265 161.057 78.588 160.778 78.3099 160.459C77.9519 160.062 77.6342 159.624 77.3958 159.306C77.1177 158.987 76.8792 158.629 76.6408 158.311C75.8851 157.276 75.2094 156.242 74.613 155.208C74.494 155.049 74.4141 154.889 74.2952 154.691C74.1361 154.412 73.9769 154.093 73.8183 153.815C73.6988 153.576 73.5799 153.377 73.4603 153.099C73.0231 152.303 72.6651 151.508 72.3077 150.712C72.1485 150.314 71.9893 149.956 71.8308 149.558C71.632 149.08 71.4728 148.603 71.274 148.086C71.1551 147.768 71.0355 147.489 70.9562 147.171C70.916 147.091 70.916 147.011 70.8763 146.932V146.893C70.7574 146.574 70.6775 146.256 70.5586 145.818C70.519 145.739 70.519 145.619 70.4787 145.5C70.4391 145.381 70.3994 145.261 70.3994 145.181C70.2805 144.744 70.161 144.266 70.0421 143.749C69.9622 143.431 69.8829 143.112 69.803 142.754C69.7237 142.396 69.6444 142.078 69.6048 141.72C69.5249 141.243 69.4456 140.765 69.3657 140.287C69.3261 140.049 69.2864 139.811 69.2468 139.532C69.2072 139.213 69.1675 138.895 69.1272 138.577L69.048 137.662C68.9687 136.866 68.9284 136.03 68.8888 135.195C68.8888 134.758 68.8888 134.32 68.8888 133.882C68.8888 133.046 68.9284 132.211 68.9687 131.335C69.0083 130.5 69.0876 129.664 69.2072 128.829C69.2468 128.511 69.2864 128.193 69.3261 127.834C69.406 127.397 69.4456 126.999 69.5249 126.561C69.5249 126.442 69.5645 126.283 69.6048 126.164C69.6841 125.805 69.7237 125.447 69.803 125.089L69.8432 124.93C69.9622 124.333 70.1213 123.736 70.3202 123.02C70.7574 121.469 71.2343 119.917 71.8704 118.405C71.9893 118.127 72.1089 117.808 72.2278 117.529C72.4266 117.012 72.7053 116.455 72.9834 115.858C73.1023 115.58 73.2615 115.302 73.4207 114.983C73.6988 114.466 73.9372 113.988 74.1757 113.551C74.2556 113.392 74.3745 113.193 74.4941 113.034C75.0899 111.999 75.726 111.005 76.442 110.01C76.7597 109.533 77.1573 109.015 77.555 108.498C78.3099 107.504 79.1449 106.509 80.0194 105.593L80.0987 105.514C80.7744 104.758 81.53 104.002 82.4046 103.206L82.4442 103.167C82.4838 103.127 82.5235 103.087 82.5631 103.047L83.398 102.331C83.756 102.013 84.1537 101.694 84.511 101.376L84.6306 101.297C84.7098 101.217 84.7897 101.177 84.869 101.098C85.1867 101.973 85.4252 102.848 85.6643 103.684C85.8228 104.321 85.982 104.877 86.1016 105.474C86.8169 108.538 87.1743 111.721 87.1743 114.864C87.0554 116.535 86.9358 118.286 86.737 119.996ZM87.7311 42.7706C87.5323 43.1685 87.3335 43.5664 87.1743 44.004C85.9027 46.9084 84.9087 49.9322 84.2329 52.9958C83.5176 56.0992 83.1199 59.3219 83.0004 62.5843C83.0004 63.1414 82.9607 63.6586 82.9607 64.2156C82.9607 67.2394 83.2395 70.2633 83.756 73.2474C83.5572 73.048 83.3584 72.8095 83.1992 72.6107L83.1596 72.5308C83.0004 72.332 82.8418 72.1728 82.6827 71.974C82.0466 71.2183 81.4501 70.4224 80.814 69.5869C78.7869 66.8015 77.1573 63.778 75.8851 60.6348C75.6467 60.0778 75.4479 59.5208 75.2887 58.9638C74.216 55.9002 73.5 52.7173 73.1822 49.4945C73.1426 49.0569 73.1023 48.5397 73.0627 47.9827C73.0627 47.7837 73.0231 47.5848 73.0231 47.3461C72.9834 46.7493 72.9834 46.3117 72.9834 45.874C72.9834 45.7546 72.9834 45.675 72.9834 45.5557V45.5159C72.9834 45.3965 72.9834 45.317 72.9834 45.1976C72.9834 43.6061 73.0627 42.0147 73.2615 40.463C73.3011 39.9458 73.3811 39.4684 73.4603 38.9113C73.5 38.6328 73.5396 38.3543 73.5799 38.0758C73.6591 37.5984 73.7384 37.1209 73.8976 36.4844C74.4941 33.5799 75.4479 30.7153 76.6804 28.0098C76.9585 27.413 77.2366 26.8162 77.5153 26.2592C79.8602 21.6439 83.0004 17.5459 86.8962 14.0844C87.453 13.5672 88.0488 13.0898 88.7246 12.5328C88.8045 12.493 88.8441 12.4532 88.9234 12.3736C89.0033 12.5726 89.0825 12.7715 89.1222 12.9704V13.0102C89.1618 13.0898 89.1618 13.1694 89.2021 13.2489L89.2417 13.3683C89.679 14.6813 89.9967 15.9942 90.2755 17.2276C90.4736 18.1825 90.6725 19.1772 90.792 20.2116C90.8316 20.5299 90.8713 20.888 90.9109 21.2063C91.1097 22.8375 91.1896 24.4688 91.1896 26.1C91.1896 27.5323 91.1097 28.9647 90.9908 30.4368C90.8713 31.511 90.7127 32.5455 90.5535 33.6197C90.1559 35.6886 89.6394 37.7575 88.9636 39.7071C88.6453 40.6221 88.2873 41.577 87.85 42.5717L87.7311 42.7706ZM106.056 133.882C106.056 134.32 106.056 134.717 106.017 135.155C106.017 135.553 105.977 135.871 105.977 136.15V136.19C105.977 136.309 105.977 136.388 105.977 136.548C105.898 137.781 105.778 138.935 105.619 140.089L105.46 140.964C105.42 141.282 105.341 141.64 105.262 141.959C105.182 142.277 105.142 142.595 105.063 142.953C104.744 144.306 104.387 145.579 103.989 146.813C103.91 147.051 103.83 147.29 103.751 147.569L103.671 147.768C103.552 148.165 103.393 148.563 103.234 148.922C103.115 149.28 102.956 149.638 102.797 150.035V150.075C102.757 150.115 102.757 150.194 102.717 150.234L102.678 150.314C102.558 150.592 102.439 150.871 102.24 151.269C102.081 151.627 101.922 151.985 101.724 152.343C101.565 152.622 101.445 152.9 101.287 153.218C100.73 154.333 100.054 155.446 99.299 156.6C99.1398 156.879 98.941 157.157 98.7422 157.396L98.6232 157.595C98.583 157.675 98.5433 157.714 98.4641 157.833C98.4244 157.913 98.3445 157.992 98.3049 158.033L98.186 158.192C97.9073 158.59 97.5895 158.987 97.3114 159.345L96.8339 159.942C96.715 160.101 96.5558 160.3 96.3966 160.499L96.357 160.579C96.1582 160.817 95.9593 161.016 95.7605 161.255C95.5624 161.494 95.3635 161.733 95.1251 161.971C94.8067 162.29 94.5683 162.568 94.3298 162.847C94.2103 162.966 94.0517 163.125 93.9322 163.245L93.773 163.404C93.376 163.802 92.9387 164.239 92.3819 164.757C92.1434 164.956 91.905 165.194 91.6665 165.393C91.4281 165.592 91.1896 165.831 90.9109 166.03C90.6725 166.228 90.434 166.427 90.1559 166.666C88.6056 162.25 87.85 157.634 87.85 152.9C87.85 147.171 89.0033 141.64 91.2293 136.468L91.2689 136.428C91.3482 136.229 91.4677 135.991 91.5873 135.752C91.7062 135.513 91.7854 135.275 91.905 135.036C93.1772 132.171 94.131 129.147 94.8464 126.044C95.2044 124.532 95.4824 122.94 95.6813 121.31C95.7605 120.593 95.8404 119.798 95.9197 118.922C95.9996 118.007 96.0393 117.211 96.0393 116.495C96.0393 115.938 96.0789 115.381 96.0789 114.864C96.0789 112.556 95.9197 110.249 95.6416 108.021C95.602 107.663 95.5624 107.305 95.4824 106.906C95.4428 106.588 95.4032 106.31 95.3233 105.992C95.3233 105.952 95.3233 105.872 95.2836 105.832C95.4032 105.952 95.4824 106.071 95.602 106.19L95.8801 106.469C96.2381 106.867 96.5954 107.305 97.0327 107.862C97.2315 108.14 97.47 108.379 97.6688 108.657C97.8676 108.896 98.0664 109.175 98.2256 109.413C98.941 110.408 99.5771 111.363 100.133 112.317C100.332 112.636 100.491 112.954 100.69 113.272C100.929 113.71 101.167 114.148 101.445 114.665C101.525 114.784 101.604 114.944 101.644 115.103V115.142C101.803 115.461 102.002 115.819 102.201 116.296C102.32 116.575 102.479 116.893 102.598 117.171C102.678 117.331 102.757 117.529 102.837 117.689C102.916 117.928 103.036 118.127 103.115 118.365L103.155 118.485C103.234 118.723 103.353 118.922 103.433 119.201C103.473 119.28 103.513 119.36 103.552 119.479C103.671 119.837 103.791 120.156 103.91 120.514C104.069 120.952 104.228 121.469 104.387 122.026C104.466 122.304 104.546 122.623 104.626 122.94C104.705 123.179 104.744 123.418 104.824 123.697C104.904 123.895 104.943 124.094 104.983 124.333C105.063 124.652 105.142 125.01 105.221 125.368C105.262 125.527 105.301 125.726 105.341 125.885L105.46 126.561C105.54 127.079 105.619 127.516 105.699 127.954C105.778 128.392 105.818 128.829 105.857 129.227C105.857 129.306 105.857 129.386 105.898 129.466C105.898 129.546 105.898 129.625 105.937 129.664V129.824C105.937 129.904 105.937 129.983 105.977 130.102V130.142C106.017 130.381 106.017 130.659 106.056 130.898V131.017C106.056 131.256 106.096 131.455 106.096 131.734C106.096 131.972 106.136 132.171 106.136 132.41V132.45C106.136 132.649 106.136 132.808 106.136 133.007C106.136 133.285 106.136 133.563 106.136 133.842V133.882H106.056ZM146.881 143.988C146.086 144.147 145.291 144.266 144.496 144.386C134.001 145.858 123.547 143.391 114.921 137.423C115 136.269 115.04 135.075 115.04 133.842C115.04 124.691 112.615 115.819 108.044 108.06C115.796 112.676 124.66 115.063 133.803 115.063C136.506 115.063 139.209 114.864 141.872 114.426C145.768 120.952 147.756 128.431 147.676 136.11C147.676 138.776 147.398 141.402 146.881 143.988ZM166.439 90.3554C166.2 90.6737 165.962 90.9525 165.723 91.2306C165.206 91.8276 164.729 92.3845 164.213 92.9016C164.053 93.1005 163.855 93.2999 163.656 93.4585C163.577 93.5384 163.497 93.6176 163.457 93.6579C163.378 93.7768 163.258 93.8567 163.139 93.9763C163.02 94.0952 162.901 94.2147 162.781 94.3343L162.662 94.4532C162.304 94.8118 161.946 95.1296 161.549 95.4479C161.351 95.6467 161.112 95.8462 160.874 96.045L160.833 96.0846C160.635 96.2438 160.436 96.403 160.238 96.6018C160.078 96.7214 159.959 96.8409 159.8 96.9598L159.76 97.0001C159.442 97.2386 159.164 97.477 158.806 97.7161C158.489 97.9546 158.21 98.1534 157.852 98.3925C157.296 98.7901 156.739 99.1481 156.183 99.5061L156.143 99.5464C155.984 99.6256 155.825 99.7452 155.666 99.8647C155.15 100.182 154.593 100.54 154.037 100.819C153.917 100.899 153.797 100.939 153.679 101.018C153.559 101.098 153.44 101.138 153.281 101.217C153.162 101.297 153.042 101.336 152.923 101.416C152.804 101.496 152.684 101.535 152.566 101.615C151.81 101.973 151.015 102.331 150.26 102.689C149.345 103.087 148.59 103.365 147.874 103.605C147.596 103.684 147.358 103.803 147.04 103.883C146.761 103.963 146.523 104.042 146.245 104.122L145.41 104.36C145.053 104.44 144.734 104.559 144.377 104.639C143.979 104.758 143.582 104.838 143.065 104.957C142.826 105.037 142.548 105.076 142.27 105.116C141.276 105.315 140.243 105.514 139.169 105.634C138.931 105.673 138.692 105.673 138.454 105.713L138.295 105.753C138.215 105.753 138.136 105.793 138.096 105.793H138.017C137.976 105.793 137.976 105.793 137.937 105.793H137.857C137.539 105.832 137.221 105.872 136.863 105.872C136.665 105.872 136.466 105.912 136.228 105.912C135.472 105.952 134.677 105.992 133.803 105.992C123.348 105.992 113.45 102.172 105.778 95.1296C108.719 95.6467 111.78 95.9255 114.802 95.9255C115.438 95.9255 115.954 95.9255 116.431 95.8858C117.028 95.8858 117.624 95.8462 118.26 95.8059L118.538 96.0846L118.857 95.7663C123.149 95.4479 127.363 94.5727 131.378 93.1804L131.497 93.1407C132.65 92.7425 133.803 92.2649 134.956 91.788C135.512 91.5489 135.949 91.3501 136.347 91.1513C141.554 88.9234 147.08 87.7695 152.804 87.7695C157.534 87.7695 162.145 88.5647 166.558 90.0766C166.518 90.2358 166.478 90.2761 166.439 90.3554Z"
                    fill="currentColor"></path>
                  <path
                    d="M342.94 105.72C342.94 134.88 326.56 155.04 301.18 155.04C286.6 155.04 274.36 147.12 267.7 133.26V153.24H256V24H268.6V78.36C274.72 64.5 286.78 56.58 301.18 56.58C326.56 56.58 342.94 76.56 342.94 105.72ZM330.16 105.72C330.16 81.6 317.74 67.56 299.2 67.56C281.38 67.56 268.42 81.42 268.42 105.36C268.42 129.12 281.02 144.06 299.2 144.06C317.74 144.06 330.16 129.84 330.16 105.72Z"
                    fill="currentColor"></path>
                  <path
                    d="M375.507 104.54V155.3H362.907V60.44H374.607V82.04C381.087 68 395.127 59 410.787 59V72.14C390.807 71.42 375.507 83.84 375.507 104.54Z"
                    fill="currentColor"></path>
                  <path
                    d="M463.272 155.46C436.632 155.46 418.992 135.48 418.992 105.42C418.992 77.7 437.352 57 462.552 57C489.552 57 507.192 78.78 505.032 109.2H431.592C432.672 131.7 444.552 145.56 463.092 145.56C478.932 145.56 489.912 136.74 492.972 121.62H505.392C501.072 142.68 485.052 155.46 463.272 155.46ZM462.372 66.72C445.272 66.72 433.212 79.86 431.592 100.56H491.892C490.812 79.32 479.832 66.72 462.372 66.72Z"
                    fill="currentColor"></path>
                  <path
                    d="M561.358 155.46C534.718 155.46 517.078 135.48 517.078 105.42C517.078 77.7 535.438 57 560.638 57C587.638 57 605.278 78.78 603.118 109.2H529.678C530.758 131.7 542.638 145.56 561.178 145.56C577.018 145.56 587.998 136.74 591.058 121.62H603.478C599.158 142.68 583.138 155.46 561.358 155.46ZM560.458 66.72C543.358 66.72 531.298 79.86 529.678 100.56H589.978C588.898 79.32 577.918 66.72 560.458 66.72Z"
                    fill="currentColor"></path>
                  <path
                    d="M659.444 155.46C632.804 155.46 615.164 135.48 615.164 105.42C615.164 77.7 633.524 57 658.724 57C685.724 57 703.364 78.78 701.204 109.2H627.764C628.844 131.7 640.724 145.56 659.264 145.56C675.104 145.56 686.084 136.74 689.144 121.62H701.564C697.244 142.68 681.224 155.46 659.444 155.46ZM658.544 66.72C641.444 66.72 629.384 79.86 627.764 100.56H688.064C686.984 79.32 676.004 66.72 658.544 66.72Z"
                    fill="currentColor"></path>
                  <path
                    d="M799.114 154.86L774.274 76.74L749.614 154.86H736.834L709.114 60H721.534L743.494 137.04L768.154 60H780.574L805.054 137.22L827.014 60H839.614L811.714 154.86H799.114Z"
                    fill="currentColor"></path>
                </g>
                <defs>
                  <clipPath id="clip0_44_18">
                    <rect width="839.614" height="179" fill="currentColor"
                    ></rect>
                  </clipPath>
                </defs>
              </svg>
              <span class="text-black text-2xl">/</span>
              <svg
                class="h-7"
                viewBox="0 0 80 48"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M79.3058 25.8169C79.3058 20.1774 76.5741 15.7274 71.3532 15.7274C66.1102 15.7274 62.938 20.1774 62.938 25.7728C62.938 32.4037 66.6829 35.7521 72.0581 35.7521C74.6796 35.7521 76.6622 35.1573 78.1602 34.3202V29.9143C76.6622 30.6633 74.9439 31.126 72.763 31.126C70.6262 31.126 68.7317 30.377 68.4893 27.7775H79.2617C79.2617 27.4911 79.3058 26.3456 79.3058 25.8169ZM68.4233 23.7241C68.4233 21.2348 69.9433 20.1994 71.3311 20.1994C72.6749 20.1994 74.1068 21.2348 74.1068 23.7241H68.4233Z"
                  fill="currentColor"></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M54.4345 15.7274C52.2756 15.7274 50.8877 16.7408 50.1167 17.4457L49.8303 16.0799H44.9839V41.7661L50.4912 40.5986L50.5132 34.3643C51.3063 34.937 52.4739 35.7521 54.4124 35.7521C58.3557 35.7521 61.9465 32.5799 61.9465 25.5966C61.9244 19.2081 58.2896 15.7274 54.4345 15.7274ZM53.1127 30.9056C51.813 30.9056 51.0419 30.443 50.5132 29.8703L50.4912 21.6974C51.064 21.0585 51.857 20.6179 53.1127 20.6179C55.1174 20.6179 56.5052 22.8649 56.5052 25.7508C56.5052 28.7027 55.1394 30.9056 53.1127 30.9056Z"
                  fill="currentColor"></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M37.4057 14.4277L42.935 13.2381V8.76611L37.4057 9.93367V14.4277Z"
                  fill="currentColor"></path>
                <path
                  d="M42.935 16.1019H37.4057V35.3776H42.935V16.1019Z"
                  fill="currentColor"></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M31.4795 17.7321L31.1271 16.1019H26.3687V35.3776H31.8761V22.3142C33.1758 20.6179 35.3787 20.9263 36.0616 21.1686V16.1019C35.3567 15.8375 32.7793 15.3529 31.4795 17.7321Z"
                  fill="currentColor"></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M20.465 11.3215L15.0899 12.467L15.0679 30.1125C15.0679 33.3729 17.5131 35.7741 20.7735 35.7741C22.5799 35.7741 23.9016 35.4436 24.6286 35.0471V30.5751C23.9237 30.8615 20.443 31.8749 20.443 28.6145V20.7941H24.6286V16.1019H20.443L20.465 11.3215Z"
                  fill="currentColor"></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M5.57342 21.6974C5.57342 20.8383 6.27836 20.5078 7.44592 20.5078C9.12015 20.5078 11.235 21.0145 12.9092 21.9177V16.7408C11.0808 16.0138 9.27435 15.7274 7.44592 15.7274C2.97396 15.7274 0 18.0626 0 21.9618C0 28.0418 8.37115 27.0726 8.37115 29.694C8.37115 30.7074 7.48998 31.0378 6.25633 31.0378C4.4279 31.0378 2.09279 30.2888 0.242322 29.2755V34.5185C2.29105 35.3996 4.36181 35.7742 6.25633 35.7742C10.8384 35.7742 13.9886 33.5051 13.9886 29.5619C13.9666 22.9971 5.57342 24.1647 5.57342 21.6974Z"
                  fill="currentColor"></path>
              </svg>
            </div>
          </div>
        </div>
      </section>
      <section
        class="bg-white flex flex-col justify-between rounded-3xl h-full text-black p-8"
      >
        <div>
          <div class="flex flex-col gap-2">
            <div class="flex flex-col gap-2">
              <div class="flex justify-between items-center">
                <p class="text-lg text-black">Design + Dev</p>
                <div class="flex gap-1">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="flex-none h-4 w-4"
                    viewBox="0 0 12 13"
                    fill="none"
                    ><g clip-path="url(#clip0_247_311)"
                      ><path
                        d="M3.9502 12.5C5.0542 12.5 5.9502 11.604 5.9502 10.5V8.5H3.9502C2.8462 8.5 1.9502 9.396 1.9502 10.5C1.9502 11.604 2.8462 12.5 3.9502 12.5Z"
                        fill="#0ACF83"></path><path
                        d="M1.9502 6.5C1.9502 5.396 2.8462 4.5 3.9502 4.5H5.9502V8.5H3.9502C2.8462 8.5 1.9502 7.604 1.9502 6.5Z"
                        fill="#A259FF"></path><path
                        d="M1.9502 2.5C1.9502 1.396 2.8462 0.5 3.9502 0.5H5.9502V4.5H3.9502C2.8462 4.5 1.9502 3.604 1.9502 2.5Z"
                        fill="#F24E1E"></path><path
                        d="M5.9502 0.5H7.9502C9.0542 0.5 9.9502 1.396 9.9502 2.5C9.9502 3.604 9.0542 4.5 7.9502 4.5H5.9502V0.5Z"
                        fill="#FF7262"></path><path
                        d="M9.9502 6.5C9.9502 7.604 9.0542 8.5 7.9502 8.5C6.8462 8.5 5.9502 7.604 5.9502 6.5C5.9502 5.396 6.8462 4.5 7.9502 4.5C9.0542 4.5 9.9502 5.396 9.9502 6.5Z"
                        fill="#1ABCFE"></path></g
                    ><defs
                      ><clipPath id="clip0_247_311"
                        ><rect
                          width="12"
                          height="12"
                          fill="currentColor"
                          transform="translate(0 0.5)"></rect></clipPath
                      ></defs
                    ></svg
                  >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="flex-none h-4 stroke-current w-4 text-black"
                    viewBox="0 0 100 100"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.5"
                    ><path
                      d="M63.3694 5.33018C64.129 6.27325 64.5164 7.54562 65.291 10.0906L82.215 65.6862C75.8581 62.3873 69.0351 60.0773 61.9815 58.836L50.9623 21.5986C50.8744 21.3015 50.6928 21.0408 50.4445 20.8556C50.1962 20.6704 49.8945 20.5705 49.5848 20.571C49.275 20.5715 48.9737 20.6723 48.7259 20.8583C48.4782 21.0443 48.2974 21.3055 48.2105 21.6029L37.3247 58.8172C30.2392 60.0528 23.3848 62.3665 17 65.6778L34.0071 10.0776C34.7842 7.53708 35.1728 6.26679 35.9324 5.32559C36.603 4.49465 37.4753 3.84929 38.466 3.45101C39.5884 3 40.9167 3 43.5734 3H55.7208C58.381 3 59.7111 3 60.8344 3.45205C61.8261 3.85109 62.6988 4.49772 63.3694 5.33018Z"
                      fill="currentColor"
                      clip-rule="evenodd"
                      fill-rule="evenodd"></path><path
                      d="M65.3945 68.3321C62.6045 70.7178 57.0359 72.3448 50.6215 72.3448C42.7487 72.3448 36.15 69.8938 34.399 66.5975C33.773 68.4867 33.6327 70.6488 33.6327 72.03C33.6327 72.03 33.2203 78.812 37.9374 83.5291C37.9374 81.0797 39.9229 79.0942 42.3722 79.0942C46.5704 79.0942 46.5657 82.7568 46.5619 85.7284L46.5616 85.9936C46.5616 90.5039 49.3182 94.3703 53.2386 96C52.6531 94.7957 52.3246 93.4433 52.3246 92.0141C52.3246 87.7124 54.85 86.1107 57.7851 84.2492C60.1204 82.7681 62.7151 81.1226 64.5033 77.8215C65.4364 76.0991 65.9662 74.1264 65.9662 72.03C65.9662 70.7407 65.7658 69.4982 65.3945 68.3321V68.3321Z"
                      fill="currentColor"
                      clip-rule="evenodd"
                      fill-rule="evenodd"
                      stroke="black"></path></svg
                  ><svg
                    class="flex-none h-4 stroke-current w-4"
                    viewBox="0 0 256 154"
                    aria-label="Tailwind CSS"
                    astro-icon="logos:tailwindcss-icon"
                    height="64"
                    width="64"
                    ><path
                      d="M128 0C93.867 0 72.533 17.067 64 51.2 76.8 34.133 91.733 27.733 108.8 32c9.737 2.434 16.697 9.999 24.401 17.318C145.751 62.057 160.275 76.8 192 76.8c34.133 0 55.467-17.067 64-51.2-12.8 17.067-27.733 23.467-44.8 19.2-9.737-2.434-16.697-9.999-24.401-17.318C174.249 14.743 159.725 0 128 0zM64 76.8C29.867 76.8 8.533 93.867 0 128c12.8-17.067 27.733-23.467 44.8-19.2 9.737 2.434 16.697 9.999 24.401 17.318C81.751 138.857 96.275 153.6 128 153.6c34.133 0 55.467-17.067 64-51.2-12.8 17.067-27.733 23.467-44.8 19.2-9.737-2.434-16.697-9.999-24.401-17.318C110.249 91.543 95.725 76.8 64 76.8z"
                      fill="#38bdf9"
                      stroke="#38bdf9"></path></svg
                  >
                </div>
              </div>
              <p class="text-xl font-medium text-black mt-2">
                $1999<span class="text-sm text-zinc-500 ml-2">/monthly</span>
                <span class="text-black block text-xs">USD + Local tax</span>
              </p>
            </div>
            <p class="text-sm text-zinc-500 mt-4">
              Ideal for startups requiring design and front-end development
              services.
            </p>
          </div>
          <div class="mt-6">
            <p class="text-sm uppercase text-black">Same as in Design plus:</p>
            <ul
              class="flex flex-col mt-4 text-sm text-black gap-y-2"
              role="list"
            >
              <li class="flex items-start gap-2">
                ⏤<span> Astro & Tailwind Code</span>
              </li>
              <li class="flex items-start gap-2">
                ⏤<span>Clean & accessible code</span>
              </li><li class="flex flex-row items-center gap-2">
                ⏤<span>Essential SEO</span>
              </li>
              <li class="flex items-start gap-2">
                ⏤<span>Support &amp; maintenance</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="mt-8">
          <a
            class="rounded-full px-4 border py-2 text-sm font-semibold transition-all flex items-center justify-between bg-white text-zinc-500 h-10 border-zinc-300 focus:ring-2 shadow-zinc-500/5 focus:ring-blue-950 focus:ring-offset-2 ring-offset-zinc-200 hover:bg-black hover:text-white duration-300"
            href="#_"
            >Get started <span>&rarr;</span></a
          >
        </div>
      </section>
      <section
        class="bg-white flex flex-col justify-between rounded-3xl h-full text-black p-8"
      >
        <div>
          <div class="flex flex-col gap-2">
            <div class="flex flex-col gap-2">
              <div class="flex justify-between items-center">
                <p class="text-lg text-black">Design</p>
                <div class="flex gap-1">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="flex-none h-4 w-4"
                    viewBox="0 0 12 13"
                    fill="none"
                    ><g clip-path="url(#clip0_247_311)"
                      ><path
                        d="M3.9502 12.5C5.0542 12.5 5.9502 11.604 5.9502 10.5V8.5H3.9502C2.8462 8.5 1.9502 9.396 1.9502 10.5C1.9502 11.604 2.8462 12.5 3.9502 12.5Z"
                        fill="#0ACF83"></path><path
                        d="M1.9502 6.5C1.9502 5.396 2.8462 4.5 3.9502 4.5H5.9502V8.5H3.9502C2.8462 8.5 1.9502 7.604 1.9502 6.5Z"
                        fill="#A259FF"></path><path
                        d="M1.9502 2.5C1.9502 1.396 2.8462 0.5 3.9502 0.5H5.9502V4.5H3.9502C2.8462 4.5 1.9502 3.604 1.9502 2.5Z"
                        fill="#F24E1E"></path><path
                        d="M5.9502 0.5H7.9502C9.0542 0.5 9.9502 1.396 9.9502 2.5C9.9502 3.604 9.0542 4.5 7.9502 4.5H5.9502V0.5Z"
                        fill="#FF7262"></path><path
                        d="M9.9502 6.5C9.9502 7.604 9.0542 8.5 7.9502 8.5C6.8462 8.5 5.9502 7.604 5.9502 6.5C5.9502 5.396 6.8462 4.5 7.9502 4.5C9.0542 4.5 9.9502 5.396 9.9502 6.5Z"
                        fill="#1ABCFE"></path></g
                    ><defs
                      ><clipPath id="clip0_247_311"
                        ><rect
                          width="12"
                          height="12"
                          fill="currentColor"
                          transform="translate(0 0.5)"></rect></clipPath
                      ></defs
                    ></svg
                  >
                </div>
              </div>
              <p class="text-xl font-medium text-black mt-2">
                $1499<span class="text-sm text-zinc-500 ml-2">/monthly</span>
                <span class="text-black block text-xs">USD + Local tax</span>
              </p>
            </div>
            <p class="text-sm text-zinc-500 mt-4">
              Ideal for emerging businesses requiring continuous design
              assistance.
            </p>
          </div>
          <div class="mt-6">
            <p class="text-sm uppercase text-black">What you get:</p>
            <ul
              class="flex flex-col mt-4 text-sm text-black gap-y-2"
              role="list"
            >
              <li class="flex items-start gap-2">
                ⏤
                <span>Design in Figma</span>
              </li>
              <li class="flex items-start gap-2">
                ⏤<span>1 request at the time</span>
              </li><li class="flex flex-row items-center gap-2">
                ⏤<span>Unlimited feedback</span>
              </li><li class="flex flex-row items-center gap-2">
                ⏤<span>Delivery within 2-3 days</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="mt-8">
          <a
            class="rounded-full px-4 border py-2 text-sm font-semibold transition-all flex items-center justify-between bg-white text-zinc-500 h-10 border-zinc-300 focus:ring-2 shadow-zinc-500/5 focus:ring-blue-950 focus:ring-offset-2 ring-offset-zinc-200 hover:bg-black hover:text-white duration-300"
            href="#_"
            >Get started <span>&rarr;</span></a
          >
        </div>
      </section>
      <section
        class="bg-white flex flex-col justify-between rounded-3xl h-full text-black p-8"
      >
        <div>
          <div class="flex flex-col gap-2">
            <div class="flex flex-col gap-2">
              <div class="flex justify-between items-center">
                <p class="text-lg text-black">One off</p>
                <div>
                  <div class="flex gap-3">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="flex-none h-4 w-4"
                      viewBox="0 0 12 13"
                      fill="none"
                      ><g clip-path="url(#clip0_247_311)"
                        ><path
                          d="M3.9502 12.5C5.0542 12.5 5.9502 11.604 5.9502 10.5V8.5H3.9502C2.8462 8.5 1.9502 9.396 1.9502 10.5C1.9502 11.604 2.8462 12.5 3.9502 12.5Z"
                          fill="#0ACF83"></path><path
                          d="M1.9502 6.5C1.9502 5.396 2.8462 4.5 3.9502 4.5H5.9502V8.5H3.9502C2.8462 8.5 1.9502 7.604 1.9502 6.5Z"
                          fill="#A259FF"></path><path
                          d="M1.9502 2.5C1.9502 1.396 2.8462 0.5 3.9502 0.5H5.9502V4.5H3.9502C2.8462 4.5 1.9502 3.604 1.9502 2.5Z"
                          fill="#F24E1E"></path><path
                          d="M5.9502 0.5H7.9502C9.0542 0.5 9.9502 1.396 9.9502 2.5C9.9502 3.604 9.0542 4.5 7.9502 4.5H5.9502V0.5Z"
                          fill="#FF7262"></path><path
                          d="M9.9502 6.5C9.9502 7.604 9.0542 8.5 7.9502 8.5C6.8462 8.5 5.9502 7.604 5.9502 6.5C5.9502 5.396 6.8462 4.5 7.9502 4.5C9.0542 4.5 9.9502 5.396 9.9502 6.5Z"
                          fill="#1ABCFE"></path></g
                      ><defs
                        ><clipPath id="clip0_247_311"
                          ><rect
                            width="12"
                            height="12"
                            fill="currentColor"
                            transform="translate(0 0.5)"></rect></clipPath
                        ></defs
                      ></svg
                    >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="flex-none h-4 stroke-current w-4 text-black"
                      viewBox="0 0 100 100"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="1.5"
                      ><path
                        d="M63.3694 5.33018C64.129 6.27325 64.5164 7.54562 65.291 10.0906L82.215 65.6862C75.8581 62.3873 69.0351 60.0773 61.9815 58.836L50.9623 21.5986C50.8744 21.3015 50.6928 21.0408 50.4445 20.8556C50.1962 20.6704 49.8945 20.5705 49.5848 20.571C49.275 20.5715 48.9737 20.6723 48.7259 20.8583C48.4782 21.0443 48.2974 21.3055 48.2105 21.6029L37.3247 58.8172C30.2392 60.0528 23.3848 62.3665 17 65.6778L34.0071 10.0776C34.7842 7.53708 35.1728 6.26679 35.9324 5.32559C36.603 4.49465 37.4753 3.84929 38.466 3.45101C39.5884 3 40.9167 3 43.5734 3H55.7208C58.381 3 59.7111 3 60.8344 3.45205C61.8261 3.85109 62.6988 4.49772 63.3694 5.33018Z"
                        fill="currentColor"
                        clip-rule="evenodd"
                        fill-rule="evenodd"></path><path
                        d="M65.3945 68.3321C62.6045 70.7178 57.0359 72.3448 50.6215 72.3448C42.7487 72.3448 36.15 69.8938 34.399 66.5975C33.773 68.4867 33.6327 70.6488 33.6327 72.03C33.6327 72.03 33.2203 78.812 37.9374 83.5291C37.9374 81.0797 39.9229 79.0942 42.3722 79.0942C46.5704 79.0942 46.5657 82.7568 46.5619 85.7284L46.5616 85.9936C46.5616 90.5039 49.3182 94.3703 53.2386 96C52.6531 94.7957 52.3246 93.4433 52.3246 92.0141C52.3246 87.7124 54.85 86.1107 57.7851 84.2492C60.1204 82.7681 62.7151 81.1226 64.5033 77.8215C65.4364 76.0991 65.9662 74.1264 65.9662 72.03C65.9662 70.7407 65.7658 69.4982 65.3945 68.3321V68.3321Z"
                        fill="currentColor"
                        clip-rule="evenodd"
                        fill-rule="evenodd"
                        stroke="black"></path></svg
                    ><svg
                      class="flex-none h-4 stroke-current w-4"
                      viewBox="0 0 256 154"
                      aria-label="Tailwind CSS"
                      astro-icon="logos:tailwindcss-icon"
                      height="64"
                      width="64"
                      ><path
                        d="M128 0C93.867 0 72.533 17.067 64 51.2 76.8 34.133 91.733 27.733 108.8 32c9.737 2.434 16.697 9.999 24.401 17.318C145.751 62.057 160.275 76.8 192 76.8c34.133 0 55.467-17.067 64-51.2-12.8 17.067-27.733 23.467-44.8 19.2-9.737-2.434-16.697-9.999-24.401-17.318C174.249 14.743 159.725 0 128 0zM64 76.8C29.867 76.8 8.533 93.867 0 128c12.8-17.067 27.733-23.467 44.8-19.2 9.737 2.434 16.697 9.999 24.401 17.318C81.751 138.857 96.275 153.6 128 153.6c34.133 0 55.467-17.067 64-51.2-12.8 17.067-27.733 23.467-44.8 19.2-9.737-2.434-16.697-9.999-24.401-17.318C110.249 91.543 95.725 76.8 64 76.8z"
                        fill="#38bdf9"
                        stroke="#38bdf9"></path></svg
                    >
                  </div>
                </div>
              </div>
              <p class="text-xl font-medium text-black mt-2">
                $999
                <span class="text-black block text-xs">USD + Local tax</span>
              </p>
            </div>
            <p class="text-sm text-zinc-500 mt-4">
              For anyone who only needs a quick landing page or just a quick
              redesign!
            </p>
          </div>
          <div class="mt-6">
            <p class="text-sm uppercase text-black">What you get:</p>
            <ul
              class="flex flex-col mt-4 text-sm text-black gap-y-2"
              role="list"
            >
              <li class="flex items-start gap-2">
                ⏤<span> 2-3 days turnaround time</span>
              </li>
              <li class="flex items-start gap-2">
                ⏤<span> Design or development</span>
              </li>
              <li class="flex items-start gap-2">
                ⏤<span> 1 revisions included</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="mt-8">
          <a
            class="rounded-full px-4 border py-2 text-sm font-semibold transition-all flex items-center justify-between bg-white text-zinc-500 h-10 border-zinc-300 focus:ring-2 shadow-zinc-500/5 focus:ring-blue-950 focus:ring-offset-2 ring-offset-zinc-200 hover:bg-black hover:text-white duration-300"
            href="#_"
            >Get started <span>&rarr;</span></a
          >
        </div>
      </section>
      <section
        class="h-full p-8 flex flex-col col-span-full md:col-span-1 xl:col-span-2 justify-between order-last md:order-none bg-white rounded-3xl"
      >
        <p class="text-lg text-black lg:text-xl">Good to know</p>
        <div class="mt-4">
          <p class="text-xs text-zinc-500 font-normal">
            minimal specializes in design and development, excluding
            <span class="text-black italic font-medium"> design system</span>,
            <span class="text-black italic font-medium"> 3D</span>,
            <span class="text-black italic font-medium"> prototypes</span>,
            <span class="text-black italic font-medium"> mobile apps</span>,
            <span class="text-black italic font-medium"> illustrations</span>,
            <span class="text-black italic font-medium"> CMS</span>,
            <span class="text-black italic font-medium"> back-end</span>,
            <span class="text-black italic font-medium"> hosting</span>,
            <span class="text-black italic font-medium"> marketing</span>,
            <span class="text-black italic font-medium"> copywriting</span>,
            <span class="text-black italic font-medium"> animations</span> &
            <span class="text-black italic font-medium">
              complex creations</span
            >
            from minimal.
          </p>
          <div class="border-t border-zinc-200  flex flex-col pt-4 mt-4">
            <p class="text-xs text-zinc-400">
              Minimal speaks English, Spanish, Italian & Swedish. Feel free to
              choose!
            </p>
          </div>
        </div>
      </section>
      <section
        class="h-full rounded-3xl justify-between col-span-full lg:col-span-1 xl:col-span-2 bg-white p-8"
      >
        <div class="flex flex-col justify-between h-full">
          <div>
            <div
              class="flex flex-col lg:flex-row lg:items-center lg:justify-between"
            >
              <p class="text-lg text-black lg:text-xl">Book an intro call</p>
            </div>
            <p class="text-xs text-zinc-500 mt-4">
              If not sure, you can book an intro call to learn more about
              minimal's.
            </p>
          </div>
          <div class="flex flex-col mt-4">
            <a
              href="#_"
              class="rounded-full px-4 border py-2 text-sm font-semibold transition-all flex items-center justify-between bg-white text-zinc-500 h-10 border-zinc-300 focus:ring-2 shadow-zinc-500/5 focus:ring-blue-950 focus:ring-offset-2 ring-offset-zinc-200 hover:bg-black hover:text-white duration-300"
            >
              Book a call
              <span>&rarr;</span>
            </a>
          </div>
          <div class="border-t border-zinc-200  flex flex-col pt-4 mt-4">
            <p class="text-xs text-zinc-400">( Europe/Helsinki ) Time</p>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
