---
const { title, url, description } = Astro.props;
---

<div class="py-3">
  <a href={url} title={title}>
    <div class="flex flex-col">
      <h4
        class="text-lg lg:text-xl text-black dark:text-white uppercase     ">
        {title}
      </h4>
      <p class="mt-1 text-zinc-500 dark:text-zinc-400">
        {description}
      </p>
    </div>
  </a>
</div>
