<section>
  <div class="mx-auto max-w-7xl px-8 py-12 lg:py-32">
    <div class="space-y-24">
      <div class="max-w-3xl mx-auto">
        <h1
          class="text-3xl lg:text-6xl      text-black dark:text-white uppercase">
          Error 404
        </h1>
      </div>
      <div class="mt-6 mx-auto max-w-3xl text-left">
        <div class="border-b dark:border-white/10 pb-5">
          <a
            href="/"
            type="button"
            class="inline-flex items-center duration-200 hover:text-black/80 text-black dark:text-white dark:hover:text-white/80">
            &larr; &nbsp; Go back home
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
