<section >
  <div class="mx-auto max-w-7xl px-8 py-12 lg:py-32">
    <div class="max-w-3xl mx-auto space-y-24">
      <div>
        <h1
          class="text-3xl lg:text-6xl      text-black dark:text-white uppercase">
          Overview
        </h1>
      </div>
      <div class="grid grid-cols-2 gap-12 lg:grid-cols-4 md:grid-cols-3">
        <div class="text-sm mt-10" aria-label="quick links">
          <div class="flex flex-col justify-start">
            <p
              class="text-lg lg:text-xl text-black dark:text-white uppercase     ">
              Landing Pages
            </p><a
              class="mt-2 hover:text-zinc-400 text-base text-zinc-500 dark:text-zinc-400"
              href="/"
              >Home
            </a><a
              class="mt-2 hover:text-zinc-400 text-base text-zinc-500 dark:text-zinc-400"
              href="/pricing"
              >Pricing
            </a>
            <a
              class="mt-2 hover:text-zinc-400 text-base text-zinc-500 dark:text-zinc-400"
              href="/about"
              >About
            </a>
            <a
              class="mt-2 hover:text-zinc-400 text-base text-zinc-500 dark:text-zinc-400"
              href="/author"
              >Author
            </a>
            <a
              class="mt-2 hover:text-zinc-400 text-base text-zinc-500 dark:text-zinc-400"
              href="/team"
              >Team
            </a>
            <a
              class="mt-2 hover:text-zinc-400 text-base text-zinc-500 dark:text-zinc-400"
              href="/projects">Projects</a
            >
            <p
              class="text-lg lg:text-xl text-black dark:text-white uppercase      mt-12">
              Store
            </p>
            <a
              class="mt-2 hover:text-zinc-400 text-base text-zinc-500 dark:text-zinc-400"
              href="/store">Store</a
            >
            <a
              class="mt-2 hover:text-zinc-400 text-base text-zinc-500 dark:text-zinc-400"
              href="/product-page">Product page</a
            >

            <p
              class="text-lg lg:text-xl text-black dark:text-white uppercase      mt-12">
              System Pages
            </p>
            <a
              class="mt-2 hover:text-zinc-400 text-base text-zinc-500 dark:text-zinc-400"
              href="/style-guide">Style Guide</a
            >
          </div>
        </div>
        <div class="text-sm mt-10" aria-label="quick links">
          <div class="flex flex-col justify-start">
            <p
              class="text-lg lg:text-xl text-black dark:text-white uppercase     ">
              Utility Pages
            </p><a
              class="mt-2 hover:text-zinc-400 text-base text-zinc-500 dark:text-zinc-400"
              href="/infopages/terms"
              >Terms Of use
            </a><a
              class="mt-2 hover:text-zinc-400 text-base text-zinc-500 dark:text-zinc-400"
              href="/infopages/privacy"
              >Privacy Policy
            </a>

          </div>
        </div>
        <div class="text-sm mt-10" aria-label="quick links">
          <div class="flex flex-col justify-start">
            <p
              class="text-lg lg:text-xl text-black dark:text-white uppercase     ">
              Blog pages
            </p><a
              class="mt-2 hover:text-zinc-400 text-base text-zinc-500 dark:text-zinc-400"
              href="/blog"
              >Landing one
            </a><a
              class="mt-2 hover:text-zinc-400 text-base text-zinc-500 dark:text-zinc-400"
              href="/blog-two"
              >Landing two
            </a><a
              class="mt-2 hover:text-zinc-400 text-base text-zinc-500 dark:text-zinc-400"
              href="/blog-three"
              >Landing three
            </a><a
              class="mt-2 hover:text-zinc-400 text-base text-zinc-500 dark:text-zinc-400"
              href="/posts/1"
              >Blog Post
            </a><a
              class="mt-2 hover:text-zinc-400 text-base text-zinc-500 dark:text-zinc-400"
              href="/tags"
              >Tag Index
            </a><a
              class="mt-2 hover:text-zinc-400 text-base text-zinc-500 dark:text-zinc-400"
              href="/tags/health"
              >Tag SLug
            </a><a
              class="mt-2 hover:text-zinc-400 text-base text-zinc-500 dark:text-zinc-400"
              href="/rss.xml">RSS</a
            >
          </div>
        </div>
        <div class="text-sm mt-10" aria-label="quick links">
          <div class="flex flex-col justify-start">
            <p
              class="text-lg lg:text-xl text-black dark:text-white uppercase     ">
              Forms
            </p><a
              class="mt-2 hover:text-zinc-400 text-base text-zinc-500 dark:text-zinc-400"
              href="/login"
              >Login
            </a><a
              class="mt-2 hover:text-zinc-400 text-base text-zinc-500 dark:text-zinc-400"
              href="/signup"
              >Sign up
            </a><a
              class="mt-2 hover:text-zinc-400 text-base text-zinc-500 dark:text-zinc-400"
              href="/forgot"
              >Forgot Password
            </a><a
              class="mt-2 hover:text-zinc-400 text-base text-zinc-500 dark:text-zinc-400"
              href="/reset">Reset Password</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
