<section>
  <div class="mx-auto max-w-7xl px-8 py-12 lg:py-32">
    <div class="space-y-24">
      <div class="max-w-3xl mx-auto">
        <h1
          class="text-3xl lg:text-6xl      text-black dark:text-white uppercase">
          style guide
        </h1>
      </div>
      <div class="mt-6 mx-auto max-w-3xl text-left space-y-24">
        <div class="max-w-xl">
          <div class="mt-12 pb-12 pt-3">
            <p
              class="text-lg mt-2 lg:text-xl text-black dark:text-white uppercase     ">
              Typograpy: Inter &amp; Gilda Display
            </p>
          </div><div class="py-3 space-y-6 mt-12">
            <div class="grid grid-cols-3 items-end lg:grid-cols-4">
              <div>
                <span class="text-zinc-500 dark:text-zinc-400">Header 1</span>
              </div><div class="col-span-2 lg:col-span-3">
                <span
                  class="text-3xl lg:text-6xl      text-black dark:text-white uppercase"
                  >Header 1</span
                >
              </div>
            </div>
            <div class="grid grid-cols-3 items-end lg:grid-cols-4">
              <div>
                <span class="text-zinc-500 dark:text-zinc-400">Header 2</span>
              </div><div class="col-span-2 lg:col-span-3">
                <span
                  class="text-2xl lg:text-5xl      text-black dark:text-white uppercase"
                  >Header 2</span
                >
              </div>
            </div><div class="grid grid-cols-3 items-end lg:grid-cols-4">
              <div>
                <span class="text-zinc-500 dark:text-zinc-400">Header 3</span>
              </div><div class="col-span-2 lg:col-span-3">
                <span
                  class="text-xl lg:text-4xl      text-black dark:text-white uppercase"
                  >Header 3</span
                >
              </div>
            </div><div class="grid grid-cols-3 items-end lg:grid-cols-4">
              <div>
                <span class="text-zinc-500 dark:text-zinc-400">Header 4</span>
              </div><div class="col-span-2 lg:col-span-3">
                <span
                  class="text-lg mt-2 lg:text-xl text-black dark:text-white uppercase     "
                  >Header 4</span
                >
              </div>
            </div>
            <div class="grid grid-cols-3 items-end lg:grid-cols-4">
              <div>
                <span class="text-zinc-500 dark:text-zinc-400">Header 5</span>
              </div><div class="col-span-2 lg:col-span-3">
                <span
                  class="text-base mt-2 lg:text-lg text-black dark:text-white uppercase     "
                  >Header 5</span
                >
              </div>
            </div><div class="grid grid-cols-3 items-end lg:grid-cols-4">
              <div>
                <span class="text-zinc-500 dark:text-zinc-400">Header 6</span>
              </div><div class="col-span-2 lg:col-span-3">
                <span
                  class="text-sm mt-2 lg:text-base text-black dark:text-white uppercase     "
                  >Header 6</span
                >
              </div>
            </div><div class="grid grid-cols-3 items-end lg:grid-cols-4">
              <div>
                <span class="text-zinc-500 dark:text-zinc-400">Link</span>
              </div><div class="col-span-2 lg:col-span-3">
                <span
                  class="text-sm hover:text-vulcan-900 text-black dark:text-white underlined"
                  >Link text</span
                >
              </div>
            </div><div class="grid grid-cols-3 items-end lg:grid-cols-4">
              <div>
                <span class="text-zinc-500 dark:text-zinc-400">Subtitle</span>
              </div><div class="col-span-2 lg:col-span-3">
                <span
                  class="text-lg mt-2 lg:text-xl text-black dark:text-white uppercase     "
                  >Subtitle text</span
                >
              </div>
            </div><div class="grid grid-cols-3 items-end lg:grid-cols-4">
              <div>
                <span class="text-zinc-500 dark:text-zinc-400">Paragraph</span>
              </div><div class="col-span-2 lg:col-span-3">
                <span class="text-zinc-500 dark:text-zinc-400"
                  >I am so happy, my dear friend, so absorbed in the exquisite
                  sense of mere tranquil existence, that I neglect my talents.</span
                >
              </div>
            </div><div class="grid grid-cols-3 items-end lg:grid-cols-4">
              <div>
                <span class="text-zinc-500 dark:text-zinc-400">Caption</span>
              </div><div class="col-span-2 lg:col-span-3">
                <span
                  class="text-black dark:text-white text-sm      uppercase"
                  >Picture about something</span
                >
              </div>
            </div><div class="grid grid-cols-3 items-end lg:grid-cols-4">
              <div>
                <span class="text-zinc-500 dark:text-zinc-400">List</span>
              </div><div class="col-span-2 lg:col-span-3">
                <ul
                  class="text-zinc-500 dark:text-zinc-400 text-sm mt-6 list-decimal list-inside space-y-3"
                  role="list">
                  <li>Next.js and/or Nuxt.js</li><li>CReact Native .</li><li>
                    AWS and/or Firebase
                  </li><li>Familiarity with noSQL databases</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="mt-12 pb-12 pt-3">
            <p
              class="text-lg mt-2 lg:text-xl text-black dark:text-white uppercase     ">
              Colors: Main palette
            </p>
          </div>
          <div class="grid grid-cols-2 mt-12 gap-2 lg:grid-cols-3">
            <div class="lg:justify-center p-6 bg-white border rounded-lg"></div>
            <div class="lg:justify-center p-6 bg-black border rounded-lg"></div>

            <div>
              <div class="lg:justify-center p-6 rounded-t-lg bg-zinc-50"></div>
              <div class="lg:justify-center p-6 bg-zinc-100"></div>
              <div class="lg:justify-center p-6 bg-zinc-200"></div>
              <div class="lg:justify-center p-6 bg-zinc-300"></div>
              <div class="lg:justify-center p-6 bg-zinc-400"></div>
              <div class="lg:justify-center p-6 bg-zinc-500"></div>
              <div class="lg:justify-center p-6 bg-zinc-600"></div>
              <div class="lg:justify-center p-6 bg-zinc-700"></div>
              <div class="lg:justify-center p-6 bg-zinc-800"></div>
              <div class="lg:justify-center p-6 bg-zinc-900"></div>
              <div class="lg:justify-center p-6 rounded-b-lg bg-zinc-950"></div>
            </div>
          </div>
        </div>
        <div>
          <div class="mt-12 pb-12 pt-3">
            <p
              class="text-lg mt-2 lg:text-xl text-black dark:text-white uppercase     ">
              Buttons
            </p>
          </div>
          <div class="flex flex-wrap gap-3">
            <a
              class="items-center inline-flex w-full border duration-200 focus:ring-2 focus:ring-offset-2 justify-center px-4 py-1 rounded-full text-sm bg-black border-transparent focus:ring-white hover:bg-black/10 dark:bg-white hover:text-white dark:text-black dark:hover:bg-white/10 ring-1 ring-transparent text-white md:w-auto"
              href="#">Primary button</a
            >
            <a
              class="items-center inline-flex w-full focus:outline-disc bg-white dark:bg-black border border-zinc-300 duration-200 focus:ring-2 focus:ring-black focus:ring-offset-2 font-medium dark:hover:text-black hover:bg-zinc-50 justify-center px-4 py-1 rounded-full text-black dark:text-white text-center text-sm md:w-auto"
              href='#"'>Secondary button</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
