<section>
  <div class="px-8 py-12 max-w-xl mx-auto">
    <div class="h-full bg-white rounded-3xl text-center overflow-hidden p-8">
      <h2
        class="text-3xl tracking-tight text-base-900 text-balance font-medium"
      >
        Let’s build something <span class="md:block text-base-500"
          >beautiful and functional together.</span
        >
      </h2>
      <p class="mt-4 text-base text-base-600 text-balance">
        Subscribe when you need it. Pause or cancel anytime — no strings, just
        solid work when it matters most.
      </p>
      <div class="flex mt-8 justify-center">
        <a
          href="#pricing"
          class="rounded-full px-4 border py-2 text-sm font-semibold transition-all flex items-center justify-between bg-white text-gray-500 h-10 border-gray-300 focus:ring-2 shadow-button shadow-gray-500/5 focus:ring-blue-950 focus:ring-offset-2 duration-200 ring-offset-gray-200 hover:shadow-none w-auto"
        >
          Get started today
        </a>
      </div>
    </div>
  </div>
</section>
