<section>
  <div class="px-8 md:px-12 py-12 max-w-2xl mx-auto">
    <div
      class="h-full bg-black  rounded-3xl text-center overflow-hidden p-8"
    >
      <h2 class="text-5xl tracking-tighter font-normal md:text-4xl text-white">
        Ready to elevate your <span class="md:block text-zinc-300"
          >design and development game?</span
        >
      </h2>
      <p class="mt-4 text-base text-zinc-300 max-w-sm mx-auto">
        Subscribe now and enjoy the flexibility of the monthly plan - pay only
        when you need it!
      </p>
      <div class="flex mt-8 justify-center">
        <a
          href="#pricing"
          class="rounded-full px-4 border py-2 text-sm font-semibold transition-all flex items-center justify-between bg-white text-gray-500 h-10 border-gray-300 focus:ring-2 shadow-button shadow-gray-500/5 focus:ring-blue-950 focus:ring-offset-2 duration-200 ring-offset-gray-200 hover:shadow-none w-auto"
          >Get started today
        </a>
      </div>
    </div>
  </div>
</section>
