<footer class="bg-black lg:p-8">
  <div
    class="items-center px-8 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl"
  >
    <div class="xl:grid xl:grid-cols-3 xl:gap-8 border-t border-white/5 pt-8">
      <div class="text-white">
        <spans
          class="text-base inline-flex items-center gap-3 font-normal italic"
        >
          <svg
            class="w-5 h-5"
            viewBox="0 0 109 109"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect x="50" y="2.18005" width="9.45" height="39.785" fill="white"
            ></rect>
            <circle
              cx="54.5"
              cy="54.5"
              r="49.02"
              stroke="white"
              stroke-width="10.96"></circle>
          </svg> minimal.
        </spans>
      </div>
      <div class="grid grid-cols-2 gap-8 xl:col-span-2">
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-white text-sm">Navigation</h3>
            <ul role="list" class="mt-4 text-xs space-y-2">
              <li>
                <a href="#work" class="text-base-400 hover:text-white"> Work</a>
              </li>
              <li>
                <a href="#how" class="text-base-400 hover:text-white">
                  How it works
                </a>
              </li>
              <li>
                <a href="#pricing" class="text-base-400 hover:text-white">
                  Pricing
                </a>
              </li>
              <li>
                <a href="#faq" class="text-base-400 hover:text-white"> FAQ</a>
              </li>
            </ul>
          </div>
          <div class="mt-12 md:mt-0">
            <h3 class="text-white text-sm">Other projects</h3>
            <ul role="list" class="mt-4 text-xs space-y-2">
              <li>
                <a
                  href="https://www.lexingtonthemes.com"
                  class="text-base-400 hover:text-white"
                >
                  Lexington Themes.
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-white text-sm">Resources</h3>
            <ul role="list" class="mt-4 text-xs space-y-2">
              <li>
                <a
                  href="https://breeew.com/"
                  class="text-base-400 hover:text-white"
                >
                  Breeew
                </a>
              </li>
              <li>
                <a
                  href="https://stripe.com"
                  class="text-base-400 hover:text-white"
                >
                  Stripe
                </a>
              </li>
            </ul>
          </div>
          <div class="mt-12 md:mt-0">
            <h3 class="text-white text-sm">Socials</h3>
            <ul role="list" class="mt-4 text-xs space-y-2">
              <li>
                <a
                  href="https://twitter.com/Mike_Andreuzza"
                  class="text-base-400 hover:text-white"
                >
                  @Mike_Andreuzza
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
