<footer class="overflow-hidden">
  <div class="px-8 md:px-12 py-12 max-w-2xl mx-auto">
    <div class="flex flex-col gap-4">
      <div>
        <h3 class="text-black text-base lg:text-xl">Navigation</h3>
        <ul role="list" class="mt-4 text-xs flex flex-col gap-2 lg:flex-row text-zinc-500 uppercase">
          <li>
            <a href="#work" class="hover:text-black"> Work</a>
          </li>
          <li>
            <a href="#how" class="hover:text-black"> How it works</a>
          </li>
          <li>
            <a href="#pricing" class="hover:text-black"> Pricing</a>
          </li>
          <li>
            <a href="#faq" class="hover:text-black"> FAQ</a>
          </li>
        </ul>
      </div>
      <div>
        <h3 class="text-black text-base lg:text-xl">Other projects</h3>
        <ul role="list" class="mt-4 text-xs flex flex-col gap-2 lg:flex-row text-zinc-500 uppercase">
          <li>
            <a
              href="https://www.lexingtonthemes.com"
              class="hover:text-black"
            >
              Lexington Themes.
            </a>
          </li>
        </ul>
      </div>
      <div>
        <h3 class="text-black text-base lg:text-xl">Resources</h3>
        <ul role="list" class="mt-4 text-xs flex flex-col gap-2 lg:flex-row text-zinc-500 uppercase">
          <li>
            <a href="#_" class="hover:text-black">
              Breeew
            </a>
          </li>
          <li>
            <a href="_#" class="hover:text-black"> Stripe</a>
          </li>
        </ul>
      </div>
      <div>
        <h3 class="text-black text-base lg:text-xl">Socials</h3>
        <ul role="list" class="mt-4 text-xs flex flex-col gap-2 lg:flex-row text-zinc-500 uppercase">
          <li>
            <a
              href="https://twitter.com/Mike_Andreuzza"
              class="hover:text-black"
            >
              @Mike_Andreuzza
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="px-8 md:px-12 py-12 max-w-2xl mx-auto">
    <nav class="flex flex-col lg:flex-row gap-8">
      <p class="text-sm text-black">
        © 2023 minimal Design. All rights reserved
      </p>
    </nav>
    <section class="gap-x-8 gap-y-6 mt-6">
      <div>
        <p class="text-sm text-zinc-500 lg:col-span-2">
          Minimal is not affiliated with Stripe, Breeew, Astro, or Tailwind
          Labs, nor is it endorsed or sponsored by them. Designed and built by
          <a
            href="https://michaelandreuzza.com/"
            class="text-sm text-black hover:text-blue-300"
            >Michael Andreuzza</a
          >, this website was crafted using Astro & Tailwind CSS. Crafted in
          Åland Islands, Finland.
        </p>
      </div>
    </section>
  </div>
   
<svg class="lg:-mx-4 mt-24 -mb-4 lg:-mb-6" viewBox="0 0 1585 372" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M150.885 170.129C145.025 157.271 133.551 150.842 116.461 150.842C96.6042 150.842 83.2578 157.271 76.4219 170.129C72.6784 177.453 70.8066 188.358 70.8066 202.844V363H0.25V97.375H67.877V136.193C76.5033 122.359 84.6413 112.512 92.291 106.652C105.8 96.2357 123.297 91.0273 144.781 91.0273C165.126 91.0273 181.565 95.5033 194.098 104.455C204.189 112.756 211.839 123.417 217.047 136.438C226.161 120.812 237.473 109.338 250.982 102.014C265.305 94.6895 281.256 91.0273 298.834 91.0273C310.553 91.0273 322.109 93.306 333.502 97.8633C344.895 102.421 355.23 110.396 364.508 121.789C371.995 131.066 377.04 142.46 379.645 155.969C381.272 164.921 382.086 178.023 382.086 195.275L381.598 363H310.309V193.566C310.309 183.475 308.681 175.174 305.426 168.664C299.241 156.294 287.848 150.109 271.246 150.109C252.04 150.109 238.775 158.085 231.451 174.035C227.708 182.499 225.836 192.671 225.836 204.553V363H155.768V204.553C155.768 188.765 154.14 177.29 150.885 170.129ZM477.828 96.8867V363H407.271V96.8867H477.828ZM477.828 0.939453V65.1484H407.271V0.939453H477.828ZM630.699 148.4C607.099 148.4 590.904 158.41 582.115 178.43C577.558 189.009 575.279 202.518 575.279 218.957V363H505.943V97.375H573.082V136.193C582.034 122.521 590.497 112.674 598.473 106.652C612.796 95.9102 630.943 90.5391 652.916 90.5391C680.423 90.5391 702.883 97.7819 720.299 112.268C737.877 126.59 746.666 150.435 746.666 183.801V363H675.377V201.135C675.377 187.137 673.505 176.395 669.762 168.908C662.926 155.236 649.905 148.4 630.699 148.4ZM842.652 96.8867V363H772.096V96.8867H842.652ZM842.652 0.939453V65.1484H772.096V0.939453H842.652ZM1019.69 170.129C1013.83 157.271 1002.36 150.842 985.27 150.842C965.413 150.842 952.066 157.271 945.23 170.129C941.487 177.453 939.615 188.358 939.615 202.844V363H869.059V97.375H936.686V136.193C945.312 122.359 953.45 112.512 961.1 106.652C974.609 96.2357 992.105 91.0273 1013.59 91.0273C1033.93 91.0273 1050.37 95.5033 1062.91 104.455C1073 112.756 1080.65 123.417 1085.86 136.438C1094.97 120.812 1106.28 109.338 1119.79 102.014C1134.11 94.6895 1150.06 91.0273 1167.64 91.0273C1179.36 91.0273 1190.92 93.306 1202.31 97.8633C1213.7 102.421 1224.04 110.396 1233.32 121.789C1240.8 131.066 1245.85 142.46 1248.45 155.969C1250.08 164.921 1250.89 178.023 1250.89 195.275L1250.41 363H1179.12V193.566C1179.12 183.475 1177.49 175.174 1174.23 168.664C1168.05 156.294 1156.66 150.109 1140.05 150.109C1120.85 150.109 1107.58 158.085 1100.26 174.035C1096.52 182.499 1094.64 192.671 1094.64 204.553V363H1024.58V204.553C1024.58 188.765 1022.95 177.29 1019.69 170.129ZM1285.11 125.695C1303.51 102.258 1335.08 90.5391 1379.84 90.5391C1408.97 90.5391 1434.85 96.3171 1457.48 107.873C1480.1 119.429 1491.41 141.239 1491.41 173.303V295.373C1491.41 303.837 1491.57 314.09 1491.9 326.135C1492.39 335.249 1493.77 341.434 1496.05 344.689C1498.33 347.945 1501.75 350.63 1506.3 352.746V363H1430.62C1428.51 357.629 1427.04 352.583 1426.23 347.863C1425.41 343.143 1424.76 337.772 1424.27 331.75C1414.67 342.167 1403.6 351.037 1391.07 358.361C1376.1 366.988 1359.17 371.301 1340.29 371.301C1316.2 371.301 1296.26 364.465 1280.47 350.793C1264.85 336.958 1257.04 317.427 1257.04 292.199C1257.04 259.484 1269.65 235.803 1294.88 221.154C1308.71 213.179 1329.06 207.482 1355.91 204.064L1379.6 201.135C1392.45 199.507 1401.65 197.473 1407.18 195.031C1417.11 190.799 1422.08 184.208 1422.08 175.256C1422.08 164.351 1418.25 156.864 1410.6 152.795C1403.11 148.563 1392.05 146.447 1377.4 146.447C1360.96 146.447 1349.32 150.516 1342.49 158.654C1337.6 164.676 1334.35 172.814 1332.72 183.068H1265.58C1267.05 159.794 1273.56 140.669 1285.11 125.695ZM1336.87 312.707C1343.38 318.078 1351.36 320.764 1360.8 320.764C1375.77 320.764 1389.52 316.369 1402.06 307.58C1414.75 298.791 1421.34 282.759 1421.83 259.484V233.605C1417.44 236.372 1412.96 238.651 1408.4 240.441C1404.01 242.069 1397.91 243.615 1390.09 245.08L1374.47 248.01C1359.82 250.614 1349.32 253.788 1342.97 257.531C1332.23 263.879 1326.86 273.726 1326.86 287.072C1326.86 298.954 1330.2 307.499 1336.87 312.707ZM1514.89 3.13672H1584.47V363H1514.89V3.13672Z" fill="black"/>
  </svg>

</footer>
