<footer aria-labelledby="footer-heading">
  <div class="mx-auto max-w-7xl px-8 py-12">
    <div
      class="flex-col flex lg:flex-row lg:items-center lg:py-16 gap-y-12 items-start justify-between pb-6 pt-16 max-w-3xl mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
        <div class="text-black dark:text-white items-center">
          <div>
            <p class="text-2xl uppercase     ">SIMPLEXITY</p><p
              class="max-w-sm mt-1 text-sm">
              Designed and built in the Åland Islands by Michael Andreuzza.
            </p>
          </div>
        </div>
        <nav class="flex-col flex md:ml-auto gap-2">
          <a
            class="text-zinc-500 dark:text-white hover:text-black dark:hover:text-white/20 py-2 -mx-3 -my-2 delay-150 hover:delay-[0ms] px-3 relative rounded-lg text-sm transition-colors"
            href="/overview"
            ><span class="relative z-10">Overview</span>
          </a><a
            class="text-zinc-500 dark:text-white hover:text-black dark:hover:text-white/20 py-2 -mx-3 -my-2 delay-150 hover:delay-[0ms] px-3 relative rounded-lg text-sm transition-colors"
            href="https://www.lexingtonthemes.com/license"
            ><span class="relative z-10">License</span>
          </a><a
            class="text-zinc-500 dark:text-white hover:text-black dark:hover:text-white/20 py-2 -mx-3 -my-2 delay-150 hover:delay-[0ms] px-3 relative rounded-lg text-sm transition-colors"
            href="https://lexingtonthemes.com/documentation"
            ><span class="relative z-10">Documentation</span>
          </a><a
            class="text-zinc-500 dark:text-white hover:text-black dark:hover:text-white/20 py-2 -mx-3 -my-2 delay-150 hover:delay-[0ms] px-3 relative rounded-lg text-sm transition-colors"
            href="/https://twitter.com/lexingtonthemes"
            ><span class="relative z-10">Social</span>
          </a>
        </nav>
      </div>
    </div>
    <div
      class="flex-col flex border-t dark:border-white/20 md:pt-6 pb-12 pt-8 max-w-3xl mx-auto">
      <p class="mt-6 md:mt-0 text-sm text-zinc-500">
        © Copyright <span>2023</span>. All rights reserved.
      </p>
    </div>
  </div>
</footer>
