<section>
  <div class="text-black dark:text-white max-w-3xl mx-auto">
    <div class="relative mx-auto overflow-hidden overflow-x-hidden py-2">
      <div class="w-full justify-between grid">
        <div
          class="absolute inset-0 from-white dark:from-black left-0 via-transparent w-44 z-10 bg-gradient-to-r">
        </div>
        <div
          class="absolute inset-0 from-white dark:from-black left-0 via-transparent w-44 z-10 bg-gradient-to-l ml-auto">
        </div>
      </div>
      <div
        class="items-center relative animate-marquee flex font-black gap-4      tracking-widest uppercase whitespace-nowrap">
        I am a marquee <span class="hidden lg:inline">✽</span>I am a marquee <span
          class="hidden lg:inline">✽</span
        > I am a marquee <span class="hidden lg:inline">✽</span> I am a marquee <span
          class="hidden lg:inline">✽</span
        >I am a marquee <span class="hidden lg:inline">✽</span> I am a marquee <span
          class="hidden lg:inline">✽</span
        > I am a marquee <span class="hidden lg:inline">✽</span>I am a marquee <span
          class="hidden lg:inline">✽</span
        > I am a marquee <span class="hidden lg:inline">✽</span> I am a marquee
      </div>
    </div>
  </div>
</section>
