<div class="w-full mx-auto bg-white dark:bg-black justify-center">
  <div
    class="w-full mx-auto max-w-3xl px-8 lg:px-0 flex flex-col lg:flex-row lg:items-center lg:justify-between py-3"
    x-data="{ open: false }">
    <div
      class="flex flex-row items-center justify-between text-black dark:text-white">
      <a class="items-center inline-flex      uppercase" href="/"
        ><span>Lexington Starter.</span>
      </a><button
        class="focus:shadow-outline focus:outline-none lg:hidden rounded-lg"
        @click="open = !open"
        aria-label="Toggle navigation"
        ><svg
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          aria-hidden="true"
          ><path
            d="M4 6h16M4 12h16M4 18h16"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            :class="{'hidden': open, 'inline-flex': !open }"
            class="inline-flex"></path><path
            d="M6 18L18 6M6 6l12 12"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            :class="{'hidden': !open, 'inline-flex': open }"
            class="hidden"></path></svg
        ></button
      >
    </div>
    <nav
      :class="{'flex': open, 'hidden': !open}"
      class="items-center flex-grow flex-col hidden lg:flex lg:flex-row lg:justify-start lg:mt-0 lg:p-0 lg:px-0 md:pb-0 opacity-100 p-4 px-5">
      <a
        class="text-sm ease-in-out transform transition focus:ring-2 focus:ring-zinc-500 focus:outline-none duration-1000 focus:shadow-none focus:text-black dark:text-white/90 hover:text-zinc-500 dark:text-zinc-400 md:my-0 px-4 py-2 lg:py-0 text-zinc-500 lg:ml-auto"
        href="/overview"
        >Overview
      </a><a
        class="text-sm ease-in-out transform transition focus:ring-2 focus:ring-zinc-500 focus:outline-none duration-1000 focus:shadow-none focus:text-black dark:text-white/90 hover:text-zinc-500 dark:text-zinc-400 md:my-0 px-4 py-2 lg:py-0 text-zinc-500"
        href="/style-guide"
        >Style Guide
      </a>
      <a
        class="text-sm ease-in-out transform transition focus:ring-2 focus:ring-zinc-500 focus:outline-none duration-1000 focus:shadow-none focus:text-zinc-500 dark:text-white/90 hover:text-zinc-500 dark:text-zinc-400 md:my-0 px-4 py-2 lg:py-0 text-black lg:pl-4 lg:border-l-2"
        href="#_"
        >Buy template &nbsp; &rarr;
      </a>
    </nav>
  </div>
</div>
